{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}
<div class="appointmentBlock row">
    <h2>Appointment <i class="fa fa-question-circle help-section-handler" data-section="appointment"></i></h2>
    <div class="wrapper panel panel-default col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <h4 class="panel-heading">Appointment</h4>
        <div class="form appointmentForm panel-body">
            <table class="table table-bordered table-hover table-stripped">
                <tbody>
                    <tr>
                        <th>Created By</th>
                        <td>{{appointment.created_by.first_name}} {{appointment.created_by.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Assigned To</th>
                        <td>{{appointment.user.first_name}} {{appointment.user.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{appointment.title}}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{appointment.start_datetime|date:'m/d/Y h:m A'}}</td>
                    </tr>
                    <tr>
                        <th>Timezone</th>
                        <td>{{appointment.timezone}}</td>
                    </tr>
                    <tr>
                        <th>Where</th>
                        <td>{{appointment.where}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{appointment.description}}</td>
                    </tr>
                    {% if appointment.notification_required %}
                    <tr>
                        <th>Notification</th>
                        <td>{{appointment.notification_time}} minutes</td>
                    </tr>
                    {% else %}
                    <tr>
                        <th>Notification</th>
                        <td>Not enabled</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/appointments.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/appointment_utils.js"></script>
{% endblock content %}