{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}
<div class="appointmentBlock">
    <div class="wrapper panel panel-default col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <h4 class="panel-heading">Task</h4>
        <div class="form appointmentForm panel-body">
          <form method="post" name="appointmentForm">
            {% csrf_token %}
            <input type="hidden" name="latitude" value=""/>
            <input type="hidden" name="longitude" value=""/>
            <input type="hidden" name="location" value=""/>

            <div class="field-row">
                <label>Assign To</label>
                <div class="field">
                {{ form.user }}
                {% if form.user.errors %}{{ form.user.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>Editable</label>
                <div class="field">
                {{ form.is_editable }}
                {% if form.is_editable.errors %}{{ form.is_editable.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>Title</label>
                <div class="field">
                {{ form.title }}
                {% if form.title.errors %}{{ form.title.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>Due Date</label>
                <div class="field">
                {{ form.due_date }}
                {% if form.due_date.errors %}{{ form.due_date.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>Timezone</label>
                <div class="field">
                {{ form.timezone }}
                {% if form.timezone.errors %}{{ form.timezone.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>Note</label>
                <div class="field">
                {{ form.note }}
                {% if form.note.errors %}{{ form.note.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>Notification Required</label>
                {{ form.notification_required }}
            </div>
            <div class="field-row">
                <label>Notification Time</label>
                {{ form.notification_time }}
            </div>
            <div class="field-row actions">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <!-- <button type="button" type="submit" class="btn btn-primary">Add</button>
                -->
                <input type="submit" />
            </div>
          </form>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/task.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/appointment_utils.js"></script>
{% endblock content %}