{% extends 'base.html' %}

{% block content %}
<div class="theme-block container">
    <h2>Theme Settings</h2>
    <div class="theme-tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#webTheme" aria-controls="webTheme" role="tab" data-toggle="tab">Web Theme</a></li>
        <li role="presentation"><a href="#mobileTheme" aria-controls="mobileTheme" role="tab" data-toggle="tab">Mobile Theme</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active row" id="webTheme">
            <form class="theme-form col-md-8 col-lg-7 col-sm-12 col-xs-12" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table class="table table-bordered table-striped">
                {% for field in web_theme_form %}
                <tr>
                    <td>{{field.label}}</td>
                    <td style="width: 50%;">
                        {% if forloop.counter == 1 %}
                        <div class="form-group">{{field}}</div>
                        {% else %}
                        <div class="input-group">
                            {{field}}
                            <span class="input-group-addon"><i></i></span>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </table>
                <div class="form-group action">
                    <button type="submit" name="web_theme" value="Web Theme" class="btn btn-primary">Save</button>
                    <button type="submit" name="reset_web_theme" value="Reset Web Theme" class="btn btn-primary">Reset to Defaults</button>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane row" id="mobileTheme">
            <form class="theme-form col-md-8 col-lg-7 col-sm-12 col-xs-12" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table class="table table-bordered table-striped">
                {% for field in mobile_theme_form %}
                <tr>
                    <td>{{field.label}}</td>
                    <td style="width: 50%;">
                        {% if forloop.counter == 1 %}
                        <div class="form-group">{{field}}</div>
                        {% else %}
                        <div class="input-group">
                            {{field}}
                            <span class="input-group-addon"><i></i></span>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </table>
                <div class="form-group action">
                    <button type="submit" name="mobile_theme" value="Mobile Theme" class="btn btn-primary">Save</button>
                    <button type="submit" name="reset_mobile_theme" value="Reset Mobile Theme" class="btn btn-primary">Reset to Defaults</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
$(function() {
    $("input").addClass("form-control");

    $("input[id$=color]")
    .each(function() {
        $(this).siblings("span").find("i").css("background", $(this).val());
        $(this)
        .colorpicker({
            format:"hex",
            template: '<div class="colorpicker dropdown-menu">' +
                '<div class="colorpicker-saturation"><i><b></b></i></div>' +
                '<div class="colorpicker-hue"><i></i></div>' +
                // '<div class="colorpicker-alpha"><i></i></div>' +
                '<div class="colorpicker-color"><div /></div>' +
                '<div class="colorpicker-selectors"></div>' +
                '</div>',
            customClass: "colorpicker-custom",
            sliders: {
                saturation: {
                    maxLeft: 200,
                    maxTop: 200
                },
                hue: {
                    maxTop: 200
                },
                alpha: {
                    maxTop: 200
                }
            }
        })
        .on('changeColor.colorpicker', function(event){
            console.log(event.color.toHex());
            $(this).siblings("span").find("i").css("background", event.color.toHex());
        })
        ;
    });
});
</script>
{% endblock content %}