/**
 *
 */

a {
    color: {{theme.link_active_color}} !important;
}
a:hover {
    color: {{theme.link_active_hover_color}} !important;
}

button {
    outline: none;
}
button.btn.btn-default, a.btn.btn-default {
    background: {{theme.default_button_color}} !important;
    border-color: {{theme.default_button_border_color}} !important;
    color: {{theme.default_button_text_color}} !important;
}
button.btn.btn-default:hover, a.btn.btn-default:hover {
    background: {{theme.default_button_text_color}} !important;
    border-color: {{theme.default_button_border_color}} !important;
    color: {{theme.default_button_color}} !important;
}

button, button.btn.btn-primary, a.btn.btn-primary {
    background: {{theme.primary_button_color}} !important;
    border-color: {{theme.primary_button_border_color}} !important;
    color: {{theme.primary_button_text_color}} !important;
}
button, button.btn.btn-primary:hover, a.btn.btn-primary:hover {
    background: {{theme.primary_button_text_color}} !important;
    border-color: {{theme.primary_button_border_color}} !important;
    color: {{theme.primary_button_color}} !important;
}
button[disabled], button.btn.btn-primary[disabled], a.btn.btn-primary[disabled] {
    background: {{theme.primary_button_inactive_color}} !important;
    border-color: {{theme.primary_button_inactive_border_color}} !important;
    color: {{theme.primary_button_inactive_text_color}} !important;
}
button[disabled], button.btn.btn-primary[disabled]:hover, a.btn.btn-primary[disabled]:hover {
    background: {{theme.primary_button_inactive_text_color}} !important;
    border-color: {{theme.primary_button_inactive_border_color}} !important;
    color: {{theme.primary_button_inactive_color}} !important;
}

button.btn.btn-warning, a.btn.btn-warning,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: {{theme.primary_button_text_color}} !important;
    border-color: {{theme.primary_button_border_color}} !important;
    color: {{theme.primary_button_color}} !important;
}
button.btn.btn-warning:hover, a.btn.btn-warning:hover {
    background: {{theme.primary_button_color}} !important;
    border-color: {{theme.primary_button_border_color}} !important;
    color: {{theme.primary_button_text_color}} !important;
}

body {
    background: {{theme.background_color}} !important;
    color: {{theme.text_color}} !important;
}

.top-header {
    background: {{theme.header_background_color}} !important;
    color: {{theme.header_text_color}} !important;
}
.mobile-menu-inner {
    background: {{theme.menu_background_color}} !important;
    color: {{theme.menu_text_color}} !important;
}
.mobile-menu-inner a {
    color: {{theme.menu_text_color}} !important;
}
.mobile-nav ul li {
    border-botton: 1px solid {{theme.menu_text_color}} !important;
}

.help-section-handler.fa.fa-question-circle {
    color: {{theme.error_text_color}} !important;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.page {
    background: {{theme.background_color}} !important;
    color: {{theme.text_color}} !important;
}
.page .static p span {
    color: {{theme.link_active_color}} !important;
}
.footer {
    background: {{theme.footer_background_color}} !important;
    color: {{theme.footer_text_color}} !important;
}
.footer p, .footer a {
    color: {{theme.footer_text_color}} !important;
}
