{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}
<div class="appointmentBlock">
    <h2>User Creation <i class="fa fa-question-circle help-section-handler" data-section="29"></i></h2>
    <div class="wrapper panel panel-default col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <h4 class="panel-heading">User Creation</h4>
        <div class="form appointmentForm panel-body">
          <form method="post" name="appointmentForm" data-user="{{user.id}}">
            {% csrf_token %}
            <div class="field-row">
                <label>{{ form.first_name.label }}</label>
                <div class="field">
                {{ form.first_name }}
                {% if form.first_name.errors %}{{ form.first_name.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>{{ form.last_name.label }}</label>
                <div class="field">
                {{ form.last_name }}
                {% if form.last_name.errors %}{{ form.last_name.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>{{ form.email.label }}</label>
                <div class="field">
                {{ form.email }}
                {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                </div>
            </div>
            {% if form.admin %}
            <div class="field-row">
                <label>{{ form.admin.label }}</label>
                <div class="field">
                {{ form.admin }}
                {% if form.admin.errors %}{{ form.admin.errors }}{% endif %}
                </div>
            </div>
            {% endif %}
            <div class="field-row">
                <label>{{ form.user_role.label }}</label>
                <div class="field">
                {{ form.user_role }}
                {% if form.user_role.errors %}{{ form.user_role.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>{{ form.phone_number.label }}</label>
                <div class="field">
                {{ form.phone_number }}
                {% if form.phone_number.errors %}{{ form.phone_number.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>{{ form.address.label }}</label>
                <div class="field">
                {{ form.address }}
                {% if form.address.errors %}{{ form.address.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>{{ form.city.label }}</label>
                <div class="field">
                {{ form.city }}
                {% if form.city.errors %}{{ form.city.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>{{ form.state.label }}</label>
                <div class="field">
                {{ form.state }}
                {% if form.state.errors %}{{ form.state.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>{{ form.zip_code.label }}</label>
                <div class="field">
                {{ form.zip_code }}
                {% if form.zip_code.errors %}{{ form.zip_code.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row">
                <label>{{ form.country.label }}</label>
                <div class="field">
                {{ form.country }}
                {% if form.country.errors %}{{ form.country.errors }}{% endif %}
                </div>
            </div>
            <div class="field-row actions">
                <input type="submit" />
            </div>
          </form>
        </div>
    </div>
</div>

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/appointments.js"></script> -->
<script type="text/javascript">
$(function() {
    $("form field-row").addClass("form-group");
    $("form input:not(:checkbox), form select, form textarea").addClass("form-control");
    $("form input[type=submit]").addClass("btn btn-primary");

    $("select[name=admin]").change(function(event) {
        var selValue = $(this).val(),
            userId = $("form[name=appointmentForm]").data("user");
        console.log(selValue, userId);

        if (selValue != userId) {
            $("select[name=user_role]").val("");
            $("select[name=user_role] option[value=admin]").hide();
        } else {
            $("select[name=user_role] option[value=admin]").show();
        }
    });
});
</script>
{% endblock content %}