{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}
{% load split_choices %}
    <div class="appointmentBlock list">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div role="tabpanel">

                        <ul role="tablist" class="nav nav-tabs text-center">
                            <li style="font-size: 17px; font-weight: bold;">
                                {{ form_fields.0.org_form.form_name }}
                            </li>
                        </ul>
                        <br>

                    </div>

                    <div role="tabpanel">

                        <div class="wrapper panel panel-default col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

                            {% if field_entries %}

                            <ul role="tablist" class="nav nav-tabs text-left">
                                <li style="margin-left: 30px; width: 34%">
                                    <div class="field-row">
                                        <label style="font-size: 12px;">{{ field_entries.0.field_id.org_form.form_name }}</label>
                                    </div>
                                </li>
                            </ul>
                            <ul role="tablist" class="nav nav-tabs text-left">
                                <li style="margin-left: 30px; width: 10%">
                                    <div class="field-row">
                                        <label style="font-size: 12px; font-weight: 400">Sr. No.</label>
                                    </div>
                                </li>
                                <li style="margin-left: 5px;">
                                    <div class="field" style="font-size: 12px; font-weight: 400">
                                        {{ field_entries.0.form_entry.serial_no|stringformat:"04d" }}
                                    </div>
                                </li>
                            </ul>
                            <br>
                            {% for entry in field_entries %}
                                <ul role="tablist" class="nav nav-tabs text-left">
                                    <li style="margin-left: 120px; width: 25%">
                                        <div class="field-row">
                                            <label style="font-size: 12px; font-weight: 400">
                                                {{ entry.field_id.label }}{% if entry.field_id.required %}*{% endif %}</label>
                                        </div>
                                    </li>
                                    <li style="margin-left: 10px; width: 27%">
                                        <div class="field" style="font-size: 12px; font-weight: 400">
                                            {% if entry.field_id.field_type|slugify in "1257"|make_list %}

                                                {{ entry.text_value }}

                                            {% elif entry.field_id.field_type|slugify in "46"|make_list %}

                                                {{ entry.choice_value }}

                                            {% elif entry.field_id.field_type == 3 %}

                                                {{ entry.email_value }}

                                            {% elif entry.field_id.field_type == 8 %}

                                                <a href="{{ server_url }}/media/{{ entry.file_value }}">
                                                    {{ entry.file_value }}</a>

                                            {% elif entry.field_id.field_type == 11 %}

                                                {{ entry.url_value }}

                                            {% elif entry.field_id.field_type == 12 %}

                                                {{ entry.number_value }}

                                            {% elif entry.field_id.field_type == 9 %}

                                                {{ entry.date_value }}

                                            {% elif entry.field_id.field_type == 10 %}

                                                {{ entry.datetime_value }}

                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
{#                                        <br>#}
                            {% endfor %}


                            <span style="margin-left: 15px;">---------------------------------------------------------------------------------------------------------------------------------------------</span>
                            <br>
                            {% endif %}

                            <div class="form panel-body">
                                <form method="post" name="formentry" class="org_form form-entry" enctype="multipart/form-data">
                                {% csrf_token %}

                                    {% if field_entries %}
                                    <ul role="tablist" class="nav nav-tabs text-center">
                                        <li style="font-size: 17px; font-weight: bold;">
                                            {{ form_fields.0.org_form.form_name }}
                                        </li>
                                    </ul>
                                    {% endif %}
                                    <br>

                                    <ul role="tablist" class="nav nav-tabs text-left">
                                        <li style="margin-left: 50px; width: 34%">
                                            <div class="field-row">
                                                <label>Sr. No.</label>
                                            </div>
                                        </li>
                                        <li style="margin-left: 20px;">
                                            <div class="field">
                                                {{ serial_no|stringformat:"04d" }}
                                            </div>
                                        </li>
                                    </ul>
                                    <br>
                                    {% for frm_field in form_fields %}
                                        <ul role="tablist" class="nav nav-tabs text-left">
                                            <li style="margin-left: 50px; width: 34%">
                                                <div class="field-row">
                                                    <label>{{ frm_field.label }}{% if frm_field.required %}*{% endif %}</label>
                                                </div>
                                            </li>
                                            <li style="margin-left: 20px; width: 27%">
                                                <div class="field">
                                                    {% if frm_field.field_type == 1 %}

                                                        <!-- Signal Line Text -->
                                                        <input id="id_form_name" name="field_value{{ forloop.counter0 }}" type="text"
                                                               class="form-control required{{ forloop.counter0 }}">

                                                    {% elif  frm_field.field_type == 2%}

                                                        <!-- Multi Line Text -->
                                                        <textarea name="field_value{{ forloop.counter0 }}"
                                                                  class="form-control required{{ forloop.counter0 }}"></textarea>

                                                    {% elif frm_field.field_type == 3 %}

                                                        <!-- EMail -->
                                                        <input name="field_value{{ forloop.counter0 }}" type="email"
                                                               class="form-control required{{ forloop.counter0 }}">

                                                    {% elif frm_field.field_type == 4 %}

                                                        <!-- Checkboxes -->
                                                        {% for choice in frm_field.choices|cho %}
                                                            <input type="checkbox" name="field_value{{ forloop.parentloop.counter0 }}"
                                                                   value="{{ choice }}"> {{ choice }} &nbsp;
                                                        {% endfor %}

                                                    {% elif frm_field.field_type == 5 %}

                                                        <!-- Select box -->
                                                        <select class="form-control required{{ forloop.counter0 }}" name="field_value{{ forloop.counter0 }}">
                                                            {% for choice in frm_field.choices|cho %}
                                                                <option value="{{ choice }}" class="form-control">{{ choice }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    {% elif frm_field.field_type == 6 %}

                                                        <!-- Select Multiple Box -->
                                                        <select class="form-control required{{ forloop.counter0 }}" name="field_value{{ forloop.counter0 }}"
                                                                multiple>
                                                            {% for choice in frm_field.choices|cho %}
                                                                <option value="{{ choice }}" class="form-control">{{ choice }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    {% elif frm_field.field_type == 7 %}

                                                        <!-- Radio Buttons -->
                                                        {% for choice in frm_field.choices|cho %}
                                                            <input type="checkbox" name="field_value{{ forloop.parentloop.counter0 }}"
                                                                   value="{{ choice }}" class="radio_button"> {{ choice }} &nbsp;
                                                        {% endfor %}

                                                    {% elif frm_field.field_type == 8 %}

                                                        <!-- File Upload Button -->
                                                        <input type="file" name="field_value{{ forloop.counter0 }}"
                                                               class="form-control required{{ forloop.counter0 }}">

                                                    {% elif frm_field.field_type == 9 %}

                                                        <!-- Datepicker -->
                                                        <input type="text" name="field_value{{ forloop.counter0 }}"
                                                               id="datepicker{{ forloop.counter0 }}"
                                                               class="form-control required{{ forloop.counter0 }}" placeholder="Date"/>

                                                    {% elif frm_field.field_type == 10 %}

                                                        <!-- DateTime Picker -->
                                                        <input type="text" name="field_value{{ forloop.counter0 }}"
                                                               id="datetimepicker{{ forloop.counter0 }}"
                                                               class="form-control required{{ forloop.counter0 }}"
                                                               placeholder="Date / Time"/>

                                                    {% elif frm_field.field_type == 11 %}

                                                        <!-- Url Field -->
                                                        <input type="url" name="field_value{{ forloop.counter0 }}"
                                                               class="form-control required{{ forloop.counter0 }}">

                                                    {% elif frm_field.field_type == 12 %}

                                                        <!-- Number Field -->
                                                        <input type="number" name="field_value{{ forloop.counter0 }}"
                                                               class="form-control required{{ forloop.counter0 }}">

                                                    {% endif %}
                                                </div>
                                            </li>
                                            <li style="margin-left: 35px; width: 26%">
                                                {% if frm_field.field_type in normal_fields %}
                                                    <span class="error_{{ forloop.counter0 }}" style="display:none; color: red; font-size: 13px;">
                                                        This Field cannot be blank
                                                    </span>
                                                {% elif frm_field.field_type in choice_fields %}
                                                    <span class="error_{{ forloop.counter0 }}" style="display:none; color: red; font-size: 13px;">
                                                        Atleast One Checkbox must be Selected
                                                    </span>
                                                {% endif %}
                                            </li>
                                        </ul>
                                        <br>
                                    {% endfor %}

                                    {% if form_fields.0.org_form.display_assign_allow == 'yes' or form_fields.0.org_form.input_assign_allow == 'yes' %}

                                        <ul role="tablist" class="nav nav-tabs text-left">
                                            <li style="margin-left: 50px; width: 34%">
                                                <div class="field-row">
                                                    <label>Assign To</label>
                                                </div>
                                            </li>
                                            <li style="margin-left: 20px;">
                                                <div class="field">
                                                    <select class="form-control" name="assign_to">
                                                        {% for emp in employees %}
                                                            <option value="{{ emp.id }}" class="form-control">
                                                                    {{ emp.first_name }} {{ emp.last_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    <br>
                                    {% endif %}

                                    <ul role="tablist" class="nav nav-tabs text-left">
                                        <li>

                                        </li>
                                        <li style="margin-left: 182px;">
                                            <div class="field-row actions" style="width: 100px;">
                                                <input type="button" onclick="check_validation()" class="btn save_route btn-primary btn-1"
                                                       value="Save"/>
                                            </div>
                                        </li>
                                    </ul>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
var datepicker_fields = {{ date_pickers | safe }};
var datetimepicker_fields = {{ datetime_pickers | safe }};
var required_normal_fields = {{ required_normal_fields | safe }};
var required_choice_fields = {{ required_choice_fields | safe }};

function check_validation(){
    var flag = false;
    for(var k in required_normal_fields){
        var class_name = '.required'+required_normal_fields[k];
        var error_class = '.error_'+required_normal_fields[k];
        if($(class_name).val() == '' || $(class_name).val() == null){
            flag = true;
            $(error_class).show();
        }
        else{
            $(error_class).hide();
        }
    }
    for(var l in required_choice_fields){
        var error_choice_class = '.error_'+required_choice_fields[l];
        var name_val = "input[name*=field_value"+required_choice_fields[l]+"]:checked";
        if (($(name_val).length)<=0) {
            flag = true;
            $(error_choice_class).show();
        }
        else{
            $(error_choice_class).hide();
        }
    }
    if(flag == false){
        $(".form-entry").submit();
    }
}

$(function() {
    $("form field-row").addClass("form-group");
    $("form input:not(:checkbox), form select, form textarea").addClass("form-control");
    $("form input[type=submit]").addClass("btn btn-primary");

    $("input:checkbox").on('click', function() {
    // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if($box.attr("class") == 'radio_button') {
            if ($box.is(":checked")) {

                // the name of the box is retrieved using the .attr() method
                // as it is assumed and expected to be immutable
                var group = "input:checkbox[name='" + $box.attr("name") + "']";
                // the checked state of the group/box on the other hand will change
                // and the current value is retrieved using .prop() method
                $(group).prop("checked", false);
                $box.prop("checked", true);
            } else {
                $box.prop("checked", false);
            }
        }
    });

    for(i in datepicker_fields){
        var date_id = "#datepicker"+datepicker_fields[i];
        $(date_id).datetimepicker({
            timepicker: false,
            format: 'M d,Y'
        });
    }

    for(j in datetimepicker_fields){
        var datetime_id = "#datetimepicker"+datetimepicker_fields[j];
        $(datetime_id).datetimepicker({
            formatTime:'g:i A',
            format: 'M d,Y h:i A'
        });
    }

});
</script>

{% endblock content %}