{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}
{% load split_choices %}
    <div class="appointmentBlock list">
        {% if field_entries.0.field_id.org_form.map_form.all %}
            <ul role="tablist" class="nav nav-tabs text-center">
                <li style="font-size: 17px; font-weight: bold;">
                    {{ field_entries.0.field_id.org_form.map_form.all.0.form_name }}
                </li>
            </ul>

        <div class="wrapper panel panel-default" style="margin-left: 5px; margin-top: 20px; margin-right: 5px; border-color: #A09C9C;">
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div role="tabpanel">

                        <ul role="tablist" class="nav nav-tabs text-center">
                            <li style="font-size: 17px; font-weight: bold;">
                                {{ field_entries.0.field_id.org_form.form_name }}
                            </li>
                        </ul>
                        <br>
                    </div>

                    <div role="tabpanel">
                        <br><br>

                        <div class="wrapper panel panel-default col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

                            <div class="form panel-body">
                                <form method="post" name="formentry" class="org_form form-entry" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <ul role="tablist" class="nav nav-tabs text-left">
                                        <li style="margin-left: 50px; width: 34%">
                                            <div class="field-row">
                                                <label>Sr. No.</label>
                                            </div>
                                        </li>
                                        <li style="margin-left: 20px;">
                                            <div class="field">
                                                {{ field_entries.0.form_entry.serial_no|stringformat:"04d" }}
                                            </div>
                                        </li>
                                    </ul>
                                    <br>
                                    {% for entry in field_entries %}
                                        <ul role="tablist" class="nav nav-tabs text-left">
                                            <li style="margin-left: 50px; width: 34%">
                                                <div class="field-row">
                                                    <label>{{ entry.field_id.label }}{% if entry.field_id.required %}*{% endif %}</label>
                                                </div>
                                            </li>
                                            <li style="margin-left: 20px; width: 27%">
                                                <div class="field">
                                                    {% if entry.field_id.field_type|slugify in "1257"|make_list %}

                                                        {{ entry.text_value }}

                                                    {% elif entry.field_id.field_type|slugify in "46"|make_list %}

                                                        {{ entry.choice_value }}

                                                    {% elif entry.field_id.field_type == 3 %}

                                                        {{ entry.email_value }}

                                                    {% elif entry.field_id.field_type == 8 %}

                                                        <a href="{{ server_url }}/media/{{ entry.file_value }}">
                                                            {{ entry.file_value }}</a>

                                                    {% elif entry.field_id.field_type == 11 %}

                                                        {{ entry.url_value }}

                                                    {% elif entry.field_id.field_type == 12 %}

                                                        {{ entry.number_value }}

                                                    {% elif entry.field_id.field_type == 9 %}

                                                        {{ entry.date_value }}

                                                    {% elif entry.field_id.field_type == 10 %}

                                                        {{ entry.datetime_value }}

                                                    {% endif %}
                                                </div>
                                            </li>
                                        </ul>
                                        <br>
                                    {% endfor %}

                                    {% if field_entries.0.field_id.org_form.display_assign_allow == 'yes' or field_entries.0.field_id.org_form.input_assign_allow == 'yes' %}

                                        <ul role="tablist" class="nav nav-tabs text-left">
                                            <li style="margin-left: 50px; width: 34%">
                                                <div class="field-row">
                                                    <label>Assign To</label>
                                                </div>
                                            </li>
                                            <li style="margin-left: 20px;">
                                                <div class="field">
                                                    {% if user.user_profiles.user_role == 'super_admin' or user.user_profiles.user_role == 'admin' %}
                                                        <select class="form-control" name="assign_to">
                                                            {% for emp in employees %}
                                                                <option value="{{ emp.id }}" class="form-control">
                                                                        {{ emp.first_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% else %}
                                                        {{ field_entries.0.form_entry.assigned_to.first_name }}
                                                    {% endif %}
                                                </div>
                                            </li>
                                        </ul>
                                    <br>
                                    {% endif %}

                                    {% if field_entries.0.field_id.org_form.map_form.all %}

                                        <span style="margin-left: 30px">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
                                        <br>
                                        <ul role="tablist" class="nav nav-tabs text-left">
                                            <li>

                                            </li>
                                            <li style="margin-left: 182px;">
                                                <div class="field-row actions" style="width: 400px;">
                                                    <a role="button" class="btn btn-primary btn-1"
                                                       href="{% url 'org-form-fields' field_entries.0.field_id.org_form.map_form.all.0.id field_entries.0.form_entry.id %}">
                                                        {{ field_entries.0.field_id.org_form.map_form.all.0.form_name }}
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="wrapper panel panel-default" style="margin-left: 50px; margin-top: 20px;
                                        margin-right: 10px;">
                                            <h4 class="panel-heading">{{ field_entries.0.field_id.org_form.map_form.all.0.form_name }}
                                                Entries</h4>
                                            <div class="listBlock panel-body">
                                                <table class="table table-bordered table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center">Sr. No.</th>
                                                            {% for label in field_labels %}
                                                                <th style="text-align: center">{{ label }}</th>
                                                            {% endfor %}
                                                            {% if form_object.allow_accept_reject == 'yes' %}
                                                                <th style="text-align: center">Approved /Rejected By</th>
                                                            {% endif %}
                                                            {% if form_object.display_assign_allow == 'yes' %}
                                                                <th style="text-align: center">Assigned to</th>
                                                                <th style="text-align: center">Assigned By</th>
                                                            {% endif %}
                                                            <th style="text-align: center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for key, value in final_result.items %}
                                                        <tr>
                                                            <td style="white-space: inherit">{{ key|stringformat:"04d" }}</td>
                                                            {% for val in value|slice:":-1" %}
                                                            <td style="white-space: inherit">{{ val }}</td>
                                                            {% endfor %}

                                                            <td style="white-space: inherit">

                                                                    <a href="{% url 'edit-form-entry' value|last %}">Edit</a>

                                                            </td>
                                    {#                            {% if frm.status == 'active' %}#}
                                    {#                                <a href="">Edit</a>#}
                                    {#                            {% else %}#}
                                    {#                                <a href="">View</a>#}
                                    {#                            {% endif %}#}
                                    {#                        </td>#}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>




                                    {% endif %}
                                    {% if user.user_profiles.user_role == 'super_admin' or user.user_profiles.user_role == 'admin' %}
                                        <ul role="tablist" class="nav nav-tabs text-left">
                                            <li>

                                            </li>
                                            <li style="margin-left: 182px;">
                                                <div class="field-row actions" style="width: 100px;">
                                                    <input type="submit" class="btn save_route btn-primary btn-1"
                                                           value="Save"/>
                                                </div>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% if field_entries.0.field_id.org_form.map_form %}
    </div>
    {% endif %}
    </div>


{% endblock content %}