{% extends 'siteadmin/help_section.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid content-block">
  <h2>Create New Help Section</h2>
  <div class="content row">
    <form method="post" class="col-xs-12 col-sm-12 col-md-8 col-lg-6">{% csrf_token %}
      <div class="form-group">
        <label>Title</label>
        {{form.title}}
        {% if form.title.errors %}{{form.title.errors}}{% endif %}
      </div>
      <div class="form-group">
        <label>Slug</label>
        <p class="info">This is a unique field used for mapping help section on the website.
        Example: if title is "Getting Started", then slug would be "getting-started"</p>
        {{form.slug}}
        {% if form.slug.errors %}{{form.slug.errors}}{% endif %}
      </div>
      <div class="form-group">
        <label>Reference</label>
        {{form.ref}}
        {% if form.ref.errors %}{{form.ref.errors}}{% endif %}
      </div>
      <div class="form-group">
        <label>Help Section</label>
        {{form.help_section}}
        {% if form.help_section.errors %}{{form.help_section.errors}}{% endif %}
      </div>
      <div class="form-group">
        <label>Content</label>
        {{form.content}}
        {% if form.content.errors %}{{form.content.errors}}{% endif %}
      </div>
      <div class="form-group">
        <label>Order By</label>
        {{form.order_by}}
        {% if form.order_by.errors %}{{form.order_by.errors}}{% endif %}
      </div>
      <div class="form-group">
        <input type="submit" value="SAVE" class="form-control btn btn-primary">
      </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript">
$(function() {
  $("input, select, textarea").addClass("form-control");
});
</script>
{% endblock extra_js %}