<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Users</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}admin/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}admin/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}admin/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->


	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->

	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}admin/img/favicon.ico">
	<!-- end: Favicon -->




</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<!--<a class="brand" href="index.html"><span>Metro</span></a>-->

				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">


						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> Admin
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
                                <li><a href="{% url 'admin-index'%}"><i class="halflings-icon user"></i> Users</a></li>
                                <li><a href="{% url 'admin_help_section'%}"><i class="halflings-icon question-sign"></i> Help Section</a></li>
								<li><a href="{% url 'admin-logout'%}"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->

			</div>
		</div>
	</div>
	<!-- start: Header -->

		<div class="container-fluid-full">
		<div class="row-fluid">


			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>

			<!-- start: Content -->
			<div id="content" class="span10">


			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon user"></i><span class="break"></span>Users Details</h2>
						<div class="box-icon">
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered">
						  <thead>
							  <tr>
								  <th>User Name</th>
								  <th>Date registered</th>
								  <th>Email</th>
								  <th>Status</th>
								  <th>Actions</th>
							  </tr>
						  </thead>
						  <tbody>
                            {% for user_data in user_details %}
							<tr>
								<td>{{ user_data.first_name }}</td>
								<td class="center">{{ user_data.date_joined }}</td>
								<td class="center">{{ user_data.email }}</td>
								<td class="center">
									<span class="label label-success">
                                        {% if user_data.user_profiles.admin_status == 'disabled' %}
                                            Disabled by Admin
                                        {% elif user_data.is_active %}
                                            Active
                                        {% else %}
                                            Email to Verify
                                        {% endif %}
                                    </span>
								</td>
								<td class="center">
									<a class="btn btn-success" href="{% url 'user-details' user_data.id %}">
										View
									</a>
                                    {% if user_data.user_profiles.admin_status == 'disabled' %}
									    <a class="btn btn-info" href="" onclick="enable_user('{{ user_data.id }}')">
                                            Enable
                                        </a>
                                    {% else %}
                                        <a class="btn btn-info" href="" onclick="disable_user('{{ user_data.id }}')">
                                            Disable
                                        </a>
                                    {% endif %}
									</a>
									<a class="btn btn-danger" href="" onclick="delete_user('{{ user_data.id }}')">
										Delete
									</a>
								</td>
							</tr>
                            {% endfor %}

						  </tbody>
					  </table>
					</div>
				</div><!--/span-->

			</div><!--/row-->




	</div><!--/.fluid-container-->

			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->

	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>

	<div class="clearfix"></div>

	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://jiji262.github.io/Bootstrap_Metro_Dashboard/" alt="Bootstrap_Metro_Dashboard">Bootstrap Metro Dashboard</a></span>

		</p>

	</footer>

	<!-- start: JavaScript-->

		<script src="{{ STATIC_URL }}admin/js/jquery-1.9.1.min.js"></script>
	<script src="{{ STATIC_URL }}admin/js/jquery-migrate-1.0.0.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery-ui-1.10.0.custom.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.ui.touch-punch.js"></script>

		<script src="{{ STATIC_URL }}admin/js/modernizr.js"></script>

		<script src="{{ STATIC_URL }}admin/js/bootstrap.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.cookie.js"></script>

		<script src='{{ STATIC_URL }}admin/js/fullcalendar.min.js'></script>

		<script src='{{ STATIC_URL }}admin/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}admin/js/excanvas.js"></script>
	<script src="{{ STATIC_URL }}admin/js/jquery.flot.js"></script>
	<script src="{{ STATIC_URL }}admin/js/jquery.flot.pie.js"></script>
	<script src="{{ STATIC_URL }}admin/js/jquery.flot.stack.js"></script>
	<script src="{{ STATIC_URL }}admin/js/jquery.flot.resize.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.chosen.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.uniform.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.cleditor.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.noty.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.elfinder.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.raty.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.iphone.toggle.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.uploadify-3.1.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.gritter.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.imagesloaded.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.masonry.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.knob.modified.js"></script>

		<script src="{{ STATIC_URL }}admin/js/jquery.sparkline.min.js"></script>

		<script src="{{ STATIC_URL }}admin/js/counter.js"></script>

		<script src="{{ STATIC_URL }}admin/js/retina.js"></script>

		<script src="{{ STATIC_URL }}admin/js/custom.js"></script>
	<!-- end: JavaScript-->

<script>

        function delete_user(user_id){

            if (confirm('Are you sure you want to delete this user?')) {
            $.ajax({

                        type: "GET",
                        url: "/admin/delete_user/"+user_id,
                        success: function(data) {
                            location.href = '/';
                            location.reload();
                        }
                    });
            }
            else {
            // Do nothing!
            }
        }

        function enable_user(user_id){

            if (confirm('Are you sure you want to enable this user?')) {
                console.log("yes");
            $.ajax({

                        type: "GET",
                        url: "/admin/enable_user/"+user_id,
                        success: function(data) {
                            location.href = '/';
                            location.reload();
                        }
                    });
            }
            else {
            // Do nothing!
            }
        }

        function disable_user(user_id){

            if (confirm('Are you sure you want to disable this user?')) {
            $.ajax({

                        type: "GET",
                        url: "/admin/disable_user/"+user_id,
                        success: function(data) {
                            location.href = '/';
                            location.reload();
                        }
                    });
            }
            else {
            // Do nothing!
            }
        }

    </script>

</body>
</html>
