
/* custom modification in the theme */
.gw-sidebar {
    height: 100vh;
    overflow: auto;
}

body {
    padding-top: 100px;
}
.top-header {
    border-bottom: 1px solid #f5f5f5;
    position: absolute;
    left: 0;
    top: 0;
    overflow: inherit;
}
.top-header .header-link .dropdown button {
    background-color: transparent;
    border: 2px solid #0b9bc1;
    border-radius: 17px;
    color: #0b9bc1;
    font-size: 1.1rem;
}
.top-header .header-link ul.dropdown-menu {
    left: inherit;
    right: 0;
}
.top-header .header-link ul.dropdown-menu h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.top-header .header-link ul.dropdown-menu p {
    margin-bottom: 1px;
    font-size: 1.2rem;
}
.top-header .header-link ul.dropdown-menu li a {
    font-size: 1.3rem;
    padding: 0.6rem 2rem;
}

.page {
    /*float: left;
    margin-top: -3.2rem;*/
    min-height: 70vh;
}
.page #login-block .input-box {
    text-align: right;
}
.page #login-block .input-box form {
    display: inline-block;
}
.page #login-block .input-box form input[type=email],
.page #login-block .input-box form input[type=password] {
    border-radius: 30px;
    border: 2px solid #bbb;
    font-size: 1.2rem;
    padding: 0.5rem 1.4rem;
    margin-left: 0.3rem;
    outline: none;
    width: 20rem;
}
.page #login-block .input-box form .btn.btn-primary {
    padding: 0;
    font-size: 1.1rem;
    border-width: 2px;
    width: 10rem;
    height: 3rem;
    margin: 0rem 0rem 0rem 0.1rem;
}
.page #login-block .input-box form .rowC {
    padding: 1rem 0 0;
}
.page #login-block .input-box form .rowC a {
    font-size: 1rem;
}
.page-header .actions {
    margin-right: 1em;
}
.page-header .actions .event,
.page-header .actions .glyphicon {
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 2px;
    margin-bottom: 0px;
}
.page-header .actions .glyphicon {
    margin-top: 1px;
}

.page .left-map {
    background: #fff;
}
.page .left-map .btn {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 2px solid;
    width: 15rem;
}
.page .left-map h3 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0;
    padding-bottom: 1.2rem;
    margin: 0rem 0 2rem;
}
.page .left-map h3 .btn {
    float: right;
    margin-top: -0.3rem;
    margin-right: 0rem;
}
.page .left-map input[type=text],
.page .left-map input[type=number],
.page .left-map input[type=search],
.page .left-map select {
    border-radius: 0;
}
.page .left-map h5 {
    margin: 1.2rem 1rem 0;
    font-size: 1.7rem;
    font-weight: lighter;
    letter-spacing: 0;
}
.page .left-map .info-input {
    border-bottom: 1px solid #f0f0f0;
}
.page .left-map .info-input .field {
    margin-bottom: 2rem;
}
.page .left-map .info-input .field label {
    font-weight: normal;
    font-size: 1.4rem;
}
.page .left-map .info-input .field span.error_title {
    float: none;
}
.page .left-map .info-input .field input[type=checkbox] {
    box-shadow: none;
    float: right;
    display: inline-block;
    margin-left: 1rem;
    margin-top: -1rem;
    width: auto;
}
.page .left-map #myList {
    padding: 0;
}

.page h2 {
    font-weight: lighter;
    font-size: 2rem;
}
.page .static p {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
}
.page .static p span {
    color: #03c;
}
.page .static h4 {
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.page .download a img {
    width: auto;
    height: 5rem;
    margin: 1rem;
}

.page .help-section-block {
    margin-bottom: 5rem;
}
.page .help-section-block h2 {
    margin-top: 2rem;
}
.page .help-section-block .sections {
    min-height: 500px;
    background-color: #197095;
    border-radius: 4px;
    color: #fff;
    padding: 1rem;
    font-size: 1.4rem;
}
.page .help-section-block .sections .section {
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding: 1rem;
}
.page .help-section-block .sections .section.active {
    background-color: #fff;
    border-radius: 4px;
    color: #197095;
}
.page .help-section-block .section-content {}
.page .help-section-block .section-content h4,
.modal-body.section-content h4 {
    margin-bottom: 0.5rem;
}
.page .help-section-block .section-content .slug,
.modal-body.section-content .slug {
    font-size: 1.2rem;
}
.page .help-section-block .section-content .content,
.modal-body.section-content .content {
    margin: 2rem 0;
}
.page .help-section-block .section-content .content h5,
.modal-body.section-content .content h5 {
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-size: 1.7rem;
    letter-spacing: 0px;
}
.page .help-section-block .section-content .content .content-info,
.modal-body.section-content .content .content-info {
    /*border: 1px solid #bbb;
    padding: 1rem;*/
}
.page .help-section-block .section-content .content .content-info p,
.modal-body.section-content .content .content-info p {
    color: #000;
}


.page .subscription-page {}
.page .subscription-page h2 {}
.page .subscription-page .registration-steps {}
.page .subscription-page .registration-steps .step {
    background: #f0f0f0;
    padding: 1rem;
    width: 20%;
    height: 7rem;
    color: #bbb;
}
.page .subscription-page .registration-steps .step.active {
}
.page .subscription-page .registration-steps .step:first-child {
    border-radius: 120px 0 0 120px;
}
.page .subscription-page .registration-steps .step:last-child {
    border-radius: 0 120px 120px 0;
}
.page .subscription-page .registration-steps .step .row {
    margin: 0;
}
.page .subscription-page .registration-steps .step .col-md-2 {
    color: #bbb;
    font-size: 3rem;
}
.page .subscription-page .registration-steps .step.active,
.page .subscription-page .registration-steps .step.active .col-md-2 {
    color: #c33;
}
.page .subscription-page .registration-steps .step.done,
.page .subscription-page .registration-steps .step.done .col-md-2 {
    color: #21820C;
    font-weight: bold;
}
.page .subscription-page .registration-steps .step .col-md-10 {
    padding: 0.6rem 2.3rem 0;
    font-size: 1.5rem;
}
.page .subscription-page .registration-steps .step.done .col-md-10,
.page .subscription-page .registration-steps .step.active .col-md-10 {
    font-weight: bold;
}

.page .subscription-page .registration-step {}
.page .subscription-page .registration-step h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 5rem;
    margin-bottom: 1rem;
    letter-spacing: 0px;
}
.page .subscription-page .registration-step table {}
.page .subscription-page .registration-step table thead {}
.page .subscription-page .registration-step table thead tr {}
.page .subscription-page .registration-step table thead tr th {
    background-color: #0B9BC1;
    padding: 1rem;
    text-align: center;
    color: #fff;
    border: 1px solid;
}
.page .subscription-page .registration-step table tbody tr {}
.page .subscription-page .registration-step table tbody tr td {
    border: 1px solid #fff;
    background-color: #fafafa;
    padding: 1rem;
    border-bottom: 1px solid #f0f0f0;
}
.page .subscription-page .registration-step table tbody tr td:last-child {
    text-align: center;
}
.page .subscription-page .registration-step table tbody tr td h4 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-weight: normal;
    letter-spacing: 0;
}
.page .subscription-page .registration-step table tbody tr td p {
    font-size: 1rem;
}
.page .subscription-page .registration-step table tbody tr td i.fa {
    font-size: 2.5rem;
    color: #21820C;
}
.page .subscription-page .registration-step .plans {
    /*height: 320px;*/
    margin-bottom: 2rem;
}
.page .subscription-page .registration-step .plans .plan {
    display: inline-block;
    width: 300px;
    margin: 2rem;
    /*float: left;*/
    text-align: center;
    background-color: #e6e7e8;
    border-radius: 4px;
    height: 250px;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
}
.page .subscription-page .registration-step .plans .plan input[type=radio] {
    font-size: 1.8rem;
    margin: 1.5rem 0 0.2rem;
}
.page .subscription-page .registration-step .plans .plan .title {
    background-color: transparent;
    border-bottom: 1px solid #f0f0f0;
    font-size: 1.8rem;
    color: #555;
    font-weight: normal;
    margin: 0;
}
.page .subscription-page .registration-step .plans .plan .price {
    color: #c33;
    font-weight: lighter;
    font-size: 3rem;
}
.page .subscription-page .registration-step .plans .plan .old-price {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #FF5050;
    height: 2rem;
}
.page .subscription-page .registration-step .plans .plan .info {
    margin: 1rem 0 1rem;
}
.page .subscription-page .registration-step .plans .plan .info .title {
    border: 0px solid;
    font-size: 1.1rem;
    color: #999;
    padding: 0;
    margin: 0;
}
.page .subscription-page .registration-step .plans .plan .info .value {
    font-size: 1.7rem;
    color: #00A8FF;
}
.page .subscription-page .registration-step .confirmations {
    margin: 0;
}
.page .subscription-page .registration-step .confirmations .col:first-child {
    text-align: right;
    padding: 0;
}
.page .subscription-page .registration-step .confirmations input[type=checkox] {
    font-size: 2rem;
}
.page .subscription-page .registration-step .confirmations p,
.page .subscription-page .registration-step .confirmations label {
    font-size: 1.4rem;
    color: #555;
    font-weight: normal;
}
.page .subscription-page .registration-step .actions {
    text-align: center;
}
.page .subscription-page .registration-step .actions button {
    min-width: 200px;
    outline: none;
}

.page .subscription-page .registration-step-2,
.page .subscription-page .registration-step-3,
.page .subscription-page .registration-step-4 {
    display: none;
}

.page .subscription-page .registration-step-3 form {
    margin-bottom: 5rem;
}
.page .subscription-page .registration-step-3 select {
    height: 4rem;
}
.page .subscription-page .registration-step-3 #form .field {
    margin-left: 15px;
    margin-bottom: 2rem;
}
.page .subscription-page .registration-step-3 #form .field label {
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
}
.page .subscription-page .registration-step-3 #form .field input, #form .field select {
    display: block;
    margin: 0;
}
.page .subscription-page .registration-step-3 #form .field .errorlist {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}
.page .subscription-page .registration-step-3 #form .field .errorlist li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page .subscription-page .registration-step-4 {}
.page .subscription-page .registration-step-4 .payment {
    margin-bottom: 5rem;
}
.page .subscription-page .registration-step-4 .payment h6 {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0;

    margin: 3rem 0 1rem;
}
.page .subscription-page .registration-step-4 .payment .methods {}
.page .subscription-page .registration-step-4 .payment .methods .method {
    margin: 0;
}
.page .subscription-page .registration-step-4 .payment .methods .method .col:first-child {
    text-align: right;
    height: 10rem;
    border-right: 0px solid;
    background-color: #f0f0f0;
    padding-top: 3rem;
    border-radius: 5px 0 0 5px;
}
.page .subscription-page .registration-step-4 .payment .methods .method .col:last-child {
    height: 10rem;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 0px 5px 5px 0;
}
.page .subscription-page .registration-step-4 .payment .methods .method .col:last-child img {
    height: 9rem;
}

.page .subscription-details.accounts {}
.page .subscription-details.accounts h2 {
    font-size: 2rem;
    letter-spacing: 0px;
    margin: 0;
    background-color: #e6e7e8;
    padding: 1rem;
}
.page .subscription-details.accounts .details {
    border: 1px solid #e6e7e8;
    padding: 1rem;
    margin-bottom: 4rem;
}
.page .subscription-details.accounts .details p {
    color: #000;
    margin: 0;
}

.terms-content {
    background-color: #fff;
    color: #000 !important;
    font-family: monospace;

    border: 1px solid #aaa;
    border-radius: 4px;

    padding: 2rem;
    margin-bottom: 5rem;

    width: 100%;
    height: 400px;
    overflow: auto;
}
.terms-content p {
    color: #000;
}
.terms h4 {
    margin: 3rem 0rem 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0;
    color: #000;
}
.terms ol {
  list-style-type: none;
  counter-reset: item;
}
.terms ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 1em;
}
.terms ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
.terms li ol > li {
  margin: 0;
}
.terms li ol > li:before {
  content: counters(item, ".") " ";
}


.calendar .btn {
    background: #24a9e1 none repeat scroll 0 0;
    border: medium none;
}
.cal-month-day .events-list a {
	float: none !important;
	display: inline-block;
}
.cal-month-day .events-list a.event-task.custom-event-assigned {
    background-color: #f00;
}
.cal-month-day .route {
    margin: 1rem 1rem 0.8rem 0;
    clear: both;
}
.cal-month-day .route .badge {
    font-size: 0.8rem;
    padding: 1px 4px;
    min-width: 13px;
    height: 16px;
    border: 2px solid #19AE19;
    color: #413C3C;
    background-color: #E8FDE7;
    z-index: 100;

    position: absolute;
    left: 7px;
    bottom: 5px;
}
#cal-slide-box #cal-slide-content {
    background: #fff;
    box-shadow: inset 0px -2px 10px -2px rgba(0, 0, 0, 0.2);
    color: #000;
}
#cal-slide-box #cal-slide-content .actions a {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
}
#cal-slide-box #cal-slide-content h5 {
    margin: 0.5em 0em 0.4em;
    font-size: 0.8em;
    font-weight: normal;
    text-decoration: underline;
    color: #FF00F2;
}
#cal-slide-box #cal-slide-content ul li {
    font-size: 0.9em;
}
#cal-slide-box #cal-slide-content ul li a {
    font-size: 0.9em;
}

.banner h3 {
    margin-bottom: 0.3rem;
}

.appointmentBlock {
	/*border-top: 1px solid #24a9e1;*/
    padding: 2em;
    margin: 1em;
    min-height: 71vh;
}
.appointmentBlock .btn.btn-primary {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 2px solid;
    width: 15rem;
}
.appointmentBlock .wrapper {
	/* margin: 0 auto; */
	padding: 0;
}
.appointmentBlock .wrapper .panel-body {
	padding: 1em;
}
.appointmentForm label {
    font-size: 0.9em;
    font-weight: normal;
    margin-top: 2em;
    margin-right: 1em;
}
.appointmentForm input[type=text] {
    width: 30%;
}
.appointmentForm select {
    width: 30%;
}
.appointmentForm textarea {
    width: 30%;
    height: 100px;
}
.appointmentForm input[type=checkbox] {
    margin-right: 0.5em;
}
.appointmentForm .actions {
	text-align: center;
}
.appointmentForm input[type=submit] {
    display: inline-block;
    width: auto;
    margin: 1em auto 0;
}

.panel .panel-heading {
	font-size: 1em;
    margin-bottom: 0;
}
.panel .panel-heading .btn {
    float: right;
    font-size: 0.8em;
    margin-top: -6px;
    margin-right: -10px;
}

.appointmentBlock.list .panel-body table {
    table-layout: fixed;
    font-size: 0.9em;
}
.appointmentBlock.list .panel-body table thead tr th:first-child,
.appointmentBlock.list .panel-body table tbody tr td:first-child {
	width:58px;
}
.appointmentBlock.list .panel-body table tbody tr td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.appointmentBlock.list .panel-body table tbody tr td:last-child a:first-child:after {
	content:" \00B7";
	color:#000;
	font-size: 1em;
}

.agendalist {}
.agendalist h4 {
    font-size: 0.8em;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: .6em;
    padding-bottom: .6em;
}
.agendalist .agenda_list {}
.agendalist .agenda_list .item {}
.agendalist .agenda_list .item .date {
    display: inline-block;
}
.agendalist .agenda_list .item .title {
    display: inline-block;
    float: none;
    border-bottom: none;
    width: auto;
}

.theme-block {
    padding-bottom: 2rem;
}
.theme-block h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin: 3rem 0rem;
}
.theme-block .theme-tabs .tab-content {
    /*border: 1px solid #e6e7e8;*/
    padding: 1.5rem 0;
}
.theme-block .theme-tabs .tab-content .row {
    margin: 0;
}
.theme-block .theme-tabs .tab-content form {
    padding: 0;
}
.theme-block .theme-tabs .tab-content .form-group {
    padding: 0;
    margin-bottom: 0rem;
}
.theme-block .theme-tabs .tab-content i {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}
.theme-block .theme-tabs .tab-content button[type=submit] {
    font-size: 1.6rem;
    border: 2px solid;
    width: 20rem;
    padding: 0.5rem;
    margin: 0;
    outline: none;
}


/*.events-list-appointments {}
.events-list-appointments a {
    display: block;
    padding: 1px;
    font-size: 0.8em;
    margin: 2px;
}*/

.colorpicker-custom .colorpicker-saturation {
    width: 200px;
    height: 200px;
}
.colorpicker-custom .colorpicker-hue,
.colorpicker-custom .colorpicker-alpha {
    width: 30px;
    height: 200px;
}
.colorpicker-custom .colorpicker-color,
.colorpicker-custom .colorpicker-color div{
    height: 30px;
}

.modal-dialog {
    z-index: 100000;
}

.bootbox button.btn-primary {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    min-width: 100px;
}