 @charset "utf-8";
/* CSS Document */

/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/*--------------------Commen CSS-----------------*/
body {
	width: 100%;
	height: 100%;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 300;
	color: #666;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}
p {
	margin: 0 0 20px;
	font-size: 16px;
	color: #999999;
	line-height: 1.6em;
}
a:focus {
  outline:none;;
  outline-offset: -2px;
}
.bold {
	font-weight: bold;
}
.blue-container {
	padding: 50px 0;
	margin: 0 auto;
	background-color: #edfaff;
}
.white-container {
	padding: 50px 0;
	margin: 0 auto;
	background-color: #ffffff;
}
.map-container {
	padding: 50px 0 0;
	margin: 0 auto;
	background-image:url(/static/images/theme/map.jpg);
	background-size: cover;
}
.img-container {
	padding: 50px 0 0;
	margin: 0 auto;
	background-image: url(/static/images/theme/bg.jpg);
	background-size: cover;
}
.img-container_small {
	padding: 30px 0;
	margin: 0 auto;
	background-image: url(/static/images/theme/btn_bg.png);
	background-size: cover;
}
.btn-white {
	border-radius: 30px;
	border: 4px solid #FFFFFF;
	padding: 12px 25px;
	margin: 8px;
	font-size: 18px;
	font-weight: bold;
	background-color: transparent;
	color: #FFFFFF;
}
.btn-white:hover {
  background-color: #fff;
  border: 4px solid #fff;
  color: #14688c;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,1);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,1);}
.btn-primary {
	border-radius: 30px;
	border: 4px solid #0b9bc1;
	padding: 12px 25px;
	margin: 8px;
	font-size: 18px;
	font-weight: bold;
	background-color: transparent;
	color: #0b9bc1;
}
.btn-primary:hover {
	background-color: #14688c;
	color: #FFFFFF;
	border: 4px solid #14688c;
}
/*--------------------Header-----------------*/
.top-header {
	height: 100px;
	overflow: hidden;
	padding: 15px;
	width: 100%;
	background-color: #fff;
}
.top-header .logo {
	display: block;
	float: none;
	margin: 0 auto;
	padding: 0;
	width: 245px;
}
.top-header .header-link {
	float: right;
	font-size: 10px;
	position: relative;
	top: -50px;
}
.top-header .header-link ul li a {
	font-size: 16px;
	line-height: 16px;
	vertical-align: middle;
}
.top-header .header-link ul li a.btn-primary {
	padding: 4px 10px;
	border: 2px solid;
}

/*--------------------Banner-----------------*/
#front-banner {
	background-image: url(/static/images/theme/banner-bg.jpg);
	background-size: cover;
	font-family: 'Lato', sans-serif;
}
.front-banner {
	height: 100%;
	padding: 0
}
.front-banner .row {
	padding-left: 0px;
	padding-right: 0px;
}
.banner-top img {
	float: right;
	padding-right: 40px;
	margin-top: 30px;
}
.front-banner h2 {
	font-size: 55px;
	margin-top: 80px;
	color: rgb( 255, 255, 255 );
	font-weight: 300;
	text-shadow: 0.5px 0.866px 3px rgb( 25, 22, 24 );
}
.front-banner h4 {
	font-size: 22px;
	margin-top: 80px;
	margin-bottom: 15px;
	color: rgb( 255, 255, 255 );
}
.front-banner h3 {
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: 300;
	color: rgb( 75, 202, 255 );
}
.front-banner h6 {
	font-size: 18px;
	margin-bottom: 50px;
	color: rgb( 255, 255, 255 );
}
/*--------------------feature-----------------*/

.top-feature h3 {
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	color: rgb( 65, 64, 66 );
}
/*--------------------carousal icon banner http://www.bootply.com/94452 -----------------*/
.carousel-control {
	width: 1%;
}
.carousel-control.left {
	margin-left: -15px;
	background-image: none;
}
.carousel-control.right {
	margin-right: -15px;
	background-image: none;
}

@media (max-width: 767px) {
.carousel-inner .active.left {
	left: -100%;
}
.carousel-inner .next {
	left: 100%;
}
.carousel-inner .prev {
	left: -100%;
}
.active > div {
	display: none;
}
.active > div:first-child {
	display: block;
}
.carousel-control.left {
	margin-left: 20px;

}
.carousel-control.right {
	margin-right: 20px;

}

}

@media (min-width: 767px) and (max-width: 992px ) {
.carousel-inner .active.left {
	left: -50%;
}
.carousel-inner .next {
	left: 50%;
}
.carousel-inner .prev {
	left: -50%;
}
.active > div {
	display: none;
}
.active > div:first-child {
	display: block;
}
.active > div:first-child + div {
	display: block;
}
.carousel-control.left {
	margin-left: 0px;
}
.carousel-control.right {
	margin-right: 0px;
}
}

@media (min-width: 992px ) {
.carousel-inner .active.left {
	left: -25%;
}
.carousel-inner .next {
	left: 25%;
}
.carousel-inner .prev {
	left: -25%;
}
.carousel-control.left {
	margin-left: 0px;
}
.carousel-control.right {
	margin-right: 0px;
}
}
/*--------------------carousal icon banner http://www.bootply.com/94452 -----------------*/
.feature .item a {
	height: 270px;
	width: 220px;
	display: block;
	margin: 0 auto;
	color: #000000;
	cursor:default;
	text-decoration: none;
	background-position: center top;
	background-repeat: no-repeat;
}
.feature .item a:hover {
	background-repeat: no-repeat;
	color: #019ADB;
}
.feature .item a p {
	padding-top: 200px;
	text-transform: uppercase;
	text-align: center;
	color: #019ADB;
}
.feature a > i {
	color: #000;
}
.feature .carousel-control {
	text-shadow: none;
	;
	top: -70px;
	opacity: 1;
}
.feature .carousel-inner a.services {
	background-image: url(/static/images/theme/product_service.png);
}
.feature .carousel-inner a.services:hover {
	background-image: url(/static/images/theme/product_service_h.png);
}
.feature .carousel-inner a.monthly_pricing {
	background-image: url(/static/images/theme/monthly.png);
}
.feature .carousel-inner a.monthly_pricing:hover {
	background-image: url(/static/images/theme/monthly_h.png);
}
.feature .carousel-inner a.contact_form {
	background-image: url(/static/images/theme/contact.png);
}
.feature .carousel-inner a.contact_form:hover {
	background-image: url(/static/images/theme/contact_h.png);
}
.feature .carousel-inner a.custom {
	background-image: url(/static/images/theme/customizable.png);
}
.feature .carousel-inner a.custom:hover {
	background-image: url(/static/images/theme/customizable_h.png);
}
.feature .carousel-inner a.calendar {
	background-image: url(/static/images/theme/calender.png);
}
.feature .carousel-inner a.calendar:hover {
	background-image: url(/static/images/theme/calender_h.png);
}
.feature .carousel-inner a.retrieve_data {
	background-image: url(/static/images/theme/data.png);
}
.feature .carousel-inner a.retrieve_data:hover {
	background-image: url(/static/images/theme/data_h.png);
}
.feature .carousel-inner a.route {
	background-image: url(/static/images/theme/rout.png);
}
.feature .carousel-inner a.route:hover {
	background-image: url(/static/images/theme/rout_h.png);
}
.feature .carousel-inner a.mobile_network {
	background-image: url(/static/images/theme/mobile.png);
}
.feature .carousel-inner a.mobile_network:hover {
	background-image: url(/static/images/theme/mobile_h.png);
}
.feature .carousel-inner a.contact {
	background-image: url(/static/images/theme/manage.png);
}
.feature .carousel-inner a.contact:hover {
	background-image: url(/static/images/theme/manage_h.png);
}
.feature .carousel-inner a.pc {
	background-image: url(/static/images/theme/pc.png);
}
.feature .carousel-inner a.pc:hover {
	background-image: url(/static/images/theme/pc_h.png);
}
.feature .carousel-inner a.task {
	background-image: url(/static/images/theme/task.png);
}
.feature .carousel-inner a.task:hover {
	background-image: url(/static/images/theme/task_h.png);
}
.feature .carousel-inner a.emp {
	background-image: url(/static/images/theme/communicate.png);
}
.feature .carousel-inner a.emp:hover {
	background-image: url(/static/images/theme/communicate_h.png);
}
/*--------------------Scheduling & Manage Contact and Create & Depoly unlimited customer contact forms -----------------*/
.scheduling h3, .create_deploy h3 {
	color: rgb(65, 64, 66);
	font-family: "Lato", sans-serif;
	font-size: 34px;
}
.scheduling h5, .create_deploy h5 {
	color: rgb(65, 64, 66);
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
}
.scheduling .list-unstyled li::before, .create_deploy .list-unstyled li::before {
	color: #333;
	content: "";
	font-family: FontAwesome;
	font-size: 16px;
	margin-left: -25px;
	padding-right: 10px;
}
.scheduling .list-unstyled li, .create_deploy .list-unstyled li {
	color: #333;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	line-height: 1.4;
	font-weight: lighter;
	margin-left: 22px;
	list-style: outside none none;
	padding: 7px 0 15px 5px;
}
.scheduling img, .create_deploy img {
	padding: 0 20px;
	bottom: 0;
}
/*--------------------mobile store-----------------*/
.mobile-store h3 {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 34px;
}
.mobile-store h4 {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 22px;
}
.mobile-store h5 {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
}
.mobile-store .list-unstyled li::before {
	color: #FFF;
	content: "";
	font-family: FontAwesome;
	font-size: 16px;
	margin-left: -25px;
	padding-right: 10px;
}
.mobile-store .list-unstyled li {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: lighter;
	line-height: 1.4;
	list-style: outside none none;
	margin-left: 22px;
	padding: 7px 0 15px 5px;
}
.report img{
	padding-bottom:20px;}
.scheduling img {
	padding: 0 20px;
}
/*--------------------additional feature-----------------*/
.additional-feature h3 {
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	color: rgb( 65, 64, 66 );
	margin-bottom: 60px;
}
.additional-feature .media {
	margin: 15px 0;
}
.additional-feature .media-heading {
	color: #000;
}
.additional-feature p {
	font-size: 14px;
	line-height: 1.2em;
 color:#999999  margin: 0 0 20px;
}
.additional-feature .color-block i {
	border-radius: 2px;
	color: #fff;
	float: left;
	font-size: 28px;
	font-weight: lighter;
	height: 68px;
	line-height: 68px;
	text-align: center;
	width: 68px;
}
.additional-feature .column-height {
	min-height: 120px;
}
.aqua {
	background-color: #45c5ec;
}
.ligth-green {
	background-color: #98cb6f;
}
.pink {
	background-color: #b68ecd;
}
.light-red {
	background-color: #f96253;
}
.orange {
	background-color: #ff9634;
}
.yellow {
	background-color: #e8cd52;
}
.green {
	background-color: #3cb5ad;
}
.violet {
	background-color: #8964EA;
}
/*--------------------footer-----------------*/
.footer {
	padding: 30px;
	background-color: #14688c;
}
.footer p, .footer a {
	font-size: 14px;
	color: #b9cbd5;
	margin-bottom: 0;
}
.footer .footer-left {
	float: left;
}
.footer .footer-right {
	float: right;
}
