{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}

    <div class="appointmentBlock list">
        <div class="container">
            <h2>Service <i class="fa fa-question-circle help-section-handler" data-section="service"></i></h2>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div role="tabpanel">

                        <ul role="tablist" class="nav nav-tabs text-left">
                            <li role="presentation" class="active">
                                <a href="{% url 'ser-category' %}" class="right-tab" style="font-size: 16px;">
                                     Service Category
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="{% url 'ser-subcat' %}" class="right-tab"  style="font-size: 16px;" aria-expanded="true">
                                     Service SubCategory
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="{% url 'ser-list' %}" class="right-tab"  style="font-size: 16px;" aria-expanded="true">
                                     Services List
                                </a>
                            </li>
                        </ul>

                        <br><br>
                        <form method="post" name="categoryservice">
                        {% csrf_token %}

                            <ul role="tablist" class="nav nav-tabs text-left">
                                <li style="margin-left: 62px;">
                                    <div class="field-row">
                                        <label>{{ form.category_name.label }}</label>
                                    </div>
                                </li>
                                <li style="margin-left: 38px;">
                                    <div class="field">
                                        {{ form.category_name }}
                                    </div>
                                </li>
                                <li>
                                    {% if form.category_name.errors %}{{ form.category_name.errors }}{% endif %}
                                </li>
                            </ul>
                        <br>
                            <ul role="tablist" class="nav nav-tabs text-left">
                                <li style="margin-left: 62px;">
                                    <div class="field-row">
                                        <label>{{ form.cat_description.label }}</label>
                                    </div>
                                </li>
                                <li style="margin-left: 62px;">
                                    <div class="field">
                                        {{ form.cat_description }}
                                    </div>
                                </li>
                                <li>
                                    {% if form.cat_description.errors %}{{ form.cat_description.errors }}{% endif %}
                                </li>
                            </ul>
                        <br>
                            <ul role="tablist" class="nav nav-tabs text-left">
                                <li>

                                </li>
                                <li style="margin-left: 182px;">
                                    <div class="field-row actions" style="width: 100px;">
                <input type="submit" value="Save"/>
            </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

<script type="text/javascript">
$(function() {
    $("form field-row").addClass("form-group");
    $("form input:not(:checkbox), form select, form textarea").addClass("form-control");
    $("form input[type=submit]").addClass("btn btn-primary");
});
</script>

{% endblock content %}