{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}

    <div class="appointmentBlock list">
        <div class="container">
            <h2>Service Inquiries <i class="fa fa-question-circle help-section-handler" data-section="service-inquiry"></i></h2>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div role="tabpanel">

                        <ul role="tablist" class="nav nav-tabs text-left">
                            <li role="presentation" class="active">
                                <a href="" class="right-tab"  style="font-size: 16px;" aria-expanded="true">
                                     Service Inquiries
                                </a>
                            </li>
                        </ul>

                        <br>

                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper panel panel-default" style="margin-left: 15px; margin-top: 20px;">
        <h4 class="panel-heading">Inquiries</h4>
        <div class="listBlock panel-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Service Name</th>
                        <th>Company Name</th>
                        <th>Note</th>
                        <th>Datetime</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inquiry in inquiries %}
                    <tr>
                        <td>{{ inquiry.customer_id.first_name }}</td>
                        <td>{{ inquiry.service_id.service_name }}</td>
                        <td>{{ inquiry.company_id.company_name }}</td>
                        <td>{{ inquiry.note }}</td>
                        <td>{{ inquiry.service_datetime }}</td>
                        <td>
{#                            <a href="{% url 'product-edit' pro.id %}">Edit</a>#}
                            <a href="{% url 'ser-inquiry-view' inquiry.id %}">View</a>
                            {% if inquiry.accept_status %}Accepted
                            {% else %}<a href="{% url 'ser-inquiry-status' inquiry.id 0 %}">Accept</a>{% endif %}
                            {% if inquiry.reject_status %}Rejected
                            {% else %}<a href="{% url 'ser-inquiry-status' inquiry.id 1 %}">Reject</a>{% endif %}
                            <a href="{% url 'ser-inquiry-reply' inquiry.id %}">
                                {% if inquiry.inq_reply.all %} View Replied Message{% else %}Reply{% endif %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </div>

<script type="text/javascript">
$(function() {
    $("form field-row").addClass("form-group");
    $("form input:not(:checkbox), form select, form textarea").addClass("form-control");
    $("form input[type=submit]").addClass("btn btn-primary");
});
</script>

{% endblock content %}