{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}
<div class="appointmentBlock list">
    <div class="wrapper">
        <h4>Contact Group <a href="/appointments/contact/create/">Add</a></h4>
        <div class="listBlock">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Cell Phone</th>
                        <th>Office Phone</th>
                        <th>Email 1</th>
                        <th>Email 2</th>
                        <th>Group</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.title }}</td>
                        <td>{{ contact.company }}</td>
                        <td>{{ contact.location }}</td>
                        <td>{{ contact.cell_phone }}</td>
                        <td>{{ contact.office_phone }}</td>
                        <td>{{ contact.email1 }}</td>
                        <td>{{ contact.email2 }}</td>
                        <td>{{ contact.group }}</td>
                        <td><a href="/appointments/contact/{{ group.id }}/">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/appointments.js"></script>
{% endblock content %}