{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}
<div class="appointmentBlock">
    <h2>Contact <i class="fa fa-question-circle help-section-handler" data-section="6"></i></h2>
    <div class="wrapper panel panel-default col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <h4 class="panel-heading">Contact</h4>
        <div class="form appointmentForm panel-body">
          <form method="post" name="appointmentForm">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-row">
                <label>{{ field.label }}</label>
                <div class="field">
                {{ field }}
                {% if field.errors %}{{ field.errors }}{% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="field-row actions">
                <input type="submit" />
            </div>
          </form>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/appointments.js"></script>
<script type="text/javascript">
$(function() {
    $("form field-row").addClass("form-group");
    $("form input:not(:checkbox), form select, form textarea").addClass("form-control");
    $("form input[type=submit]").addClass("btn btn-primary");
});
</script>
{% endblock content %}