{% extends 'base.html' %}

{% block content %}
{% include 'logo_account.html' %}
<div class="appointmentBlock list">
    <div class="wrapper panel panel-default">
        <h4 class="panel-heading">Contact Group <a href="/appointments/contact_group/create/" class="btn btn-primary">Add</a></h4>
        <div class="listBlock panel-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Remarks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ group.name }}</td>
                        <td>{{ group.remarks }}</td>
                        <td><a href="/appointments/contact_group/{{ group.id }}/">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/appointments.js"></script>
{% endblock content %}