
{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="col-lg-6 col-md-6 col-sm-6"><h2>PLAN YOUR NEXT TRIP OR ROUTE</h2></div>
            <div class="col-lg-6 col-md-6 col-sm-6"><h5 style="color: #000000">
            Your Calendar, GPA, Scheduling, Customer Communication and data collection all come together in your mobile app
            </h5></div>
      </div>
    </div>
  </div>
</div>

<div class="contan-eria">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 70%">
        <h4 class="hadding" style="text-transform:none; line-height: 1.8em; font-size: 15px;">Gpsstops is the intersection where a calendar, a GPS maps and navigation, mobile app to mobile app communication, and a lightweight customer database meets.
Harnessed and delivered in a secure and dynamic mobile application and cloud environment, gpsstops was designed for the small business or business minded individual.
</h4>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 70%">
        <h4 class="hadding" style="text-transform:none; line-height: 1.8em; font-size: 15px;">To learn more about gpsstops, please visit <a href="http://dmtechsolutions.com/our-offerings.html">http://dmtechsolutions.com/our-offerings.html</a>
</h4>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 70%">
        <h4 class="hadding" style="padding-top: 0px; text-transform:none; line-height: 1.8em; font-size: 15px;">Gpsstops is the intersection where a calendar, a GPS maps and navigation, mobile app to mobile app communication, and a lightweight customer database meets. Harnessed and delivered in a secure and dynamic mobile application and cloud environment, gpsstops was designed on the premise of providing powerful and useful technology solutions at low costs.  Used properly, it will maximize your effectiveness and improve your efficiency in providing delivery, repair, or services in the field.</a>
</h4>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 70%">
        <h4 class="hadding" style="padding-top: 0px; text-transform:none; line-height: 1.8em; font-size: 15px;">First; it is a fully functioning google maps location and navigation solution providing turn-by-turn voice assistance to and from destinations. If you are planning multiple trips or routes for one driver, or multiple trips or routes for multiple drivers; our solution will work for you. Second, it is a fully functioning integrated calendar for your routes as well as other, non-traveling, appointments; equipped with reminders and alerts, local weather forecasts, and more. We have added the ability to re-sequence the destinations saving you time and money when you need to adjust priorities. </a>
</h4>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 70%">
        <h4 class="hadding" style="padding-top: 0px; text-transform:none; line-height: 1.8em; font-size: 15px;">It’s most advanced feature is a customizable IOS and Android mobile application that provides dynamic 2-way business to customer product request and scheduling communication network supported transaction history database for tracking and recall. </a>
</h4>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 70%">
        <h4 class="hadding" style="padding-top: 0px; text-transform:none; line-height: 1.8em; font-size: 15px;">Gpsstops is available at multiple levels and price points.  Go to gpsstops.com/learnmore to learn more about our solution and which level best fits your needs.</a>
</h4>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 70%">
        <h4 class="hadding" style="padding-top: 0px; text-transform:none; line-height: 1.8em; font-size: 15px;">Gpsstops.com is a property of DM Tech Soltuions, LLC.</a>
</h4>
        </div>

    </div>

  </div>
</div>

{% endblock %}