
{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

<!-- <div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 style="font-size: 21px; font-weight: 600;">MULTI-STOP TRIP PLANNING OR ROUTE DISPATCH</h3>
          <h5 class="title-text" style="font-weight: 600; color: #000000; line-height:20px; padding-top: 6px;">optimize or prioritize your routes or route stops – click, drag, and you are done</h5>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 style="font-size: 21px; font-weight: 600;">TURN-KEY MOBILE APP FOR YOUR BUSINESS</h3>
          <h5 class="title-text" style="color: #000000; font-weight: 600; line-height:20px; padding-top: 6px;">• customer contact info  • sales orders • scheduling calendar • GPS navigation  • collect, store, retrieve data</h5>
      </div>
      </div>
    </div>
  </div>
</div>
 -->
<div class="contan-eria" id="aboutUs">
  <div class="container">
    <h2>About Us</h2>
    <p>
      Bennyapp platform was designed to provide businesses, groups, and users the ability to create and deploy a mobile app in minutes, without technical knowledge or a large budget. It seamlessly connects organizations with their employees, customers, members, and specific audiences to a real-time central database repository. Customers do this by configuring and deploying a pre-developed mobile app prototype and then deploy it to their user base in minutes; through an easy and intuitive, code-free, non-technical user interface.
    </p>
    <p>
      The Bennyapp platform is a fast, agile, and scalable turn-key mobile app platform for all types of businesses and associations globally, developed to provide the most common workflows and processes as a core functionality; supported by an individual real-time database engine. If you are a one-person small business or have multiple employees in different locations around the globe, our platform can give you the tools you need to help run your business more efficiently. Communicating with customers and employees in real time, receiving product inquires and orders thru your mobile app store, assigning tasks and receiving feedback, collecting and processing customer information in the field, and scheduling and maintaining route schedules and stops are just some of the core Bennyapp features.
    </p>
    <p>
      Our customers literally can create and deploy a mobile app that supports both customer facing and back-office user functionality in just a few minutes.  With an easy to use non-technical interface, the Bennyapp platform provides each customer with a unique ability to create, deploy, and maintain their mobile app and user base in an autonomous environment within the Bennyapp platform.  While your app is deployed, customizations and enhancements can be executed seamlessly and cost efficiently.
    </p>
    <p>
      <ul>
        <li>
          <h4>Small Businesses</h4>
          <p>Small Businesses and organizations are what we had in mind when we designed the Bennyapp plaform. Understanding that most small businesses do not have the financial resources to develop a mobile app, we have done the work for you.  What we have created with Bennyapp is a core fundamental platform encompassing common core business functions and processes that are consistent across small businesses scaled to make it affordable. As a business owner or manager, you can now connect your customers and employees with your own mobile information network. Reducing phone calls, paper, duplication, confusion, and general dysfunctional operations is now possible and affordable with Bennyapp.</p>
        </li>
        <li>
          <h4>Medium and Large Business</h4>
          <p>Really benefit from our platform, because it is faster, more agile, and less expensive than the normal development process.  Bennyapp provides the platform to quickly create and deploy a multi-function mobile app that can be used across multiple levels of the organization.  Teams, departments, regions, and divisions are no problem, our platform handles them with ease.  Our platform provides an alternative solution to big IT projects and budgets and can be used as a mobility platform to further customize and integrate workflows in the future.  Simply put, creating a mobile app on our platform and making customizations and enhancements as you need them is faster, more agile and flexible, and far less expensive than the cost of developing internal solutions.</p>
        </li>
        <li>
          <h4>Groups, associations, clubs, and other types of audiences</h4>
          <p>Groups, associations, clubs, and other types of audiences are also able to benefit from the Bennyapp platform.  No matter if you are a person with a need to collect and store information for future scheduling and recall, or a group of individuals that needs coordinated information; the Bennyapp base level package may help you.</p>
        </li>
      </ul>
    </p>
  </div>
</div>

{% endblock %}