{% extends 'base.html' %}
{% block content %}
{% include "logo_account.html" %}

<style>
    .map-box{
        background: #FFF !important;
        padding: 25px;
        height:600px;
    }
    #map-canvas {
        width:100%;
        height: 550px;
        float: left;
    }
    .title{
        margin-bottom:10px;
    }
    .title input,textarea{
        margin-top:10px;
    }
    .title h4{
        margin-top:10px;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/route.js"></script>

<div class="contan-eria">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div role="tabpanel">

                    <!-- <ul role="tablist" class="nav nav-tabs text-center">
                        <li role="presentation" class="">
                            <a href="{% url 'calender_prime' %}" class="right-tab">
                                <i class="glyphicon glyphicon-calendar"></i> Calendar
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="/maps/routes/" class="right-tab"  aria-expanded="true">
                                <i class="glyphicon glyphicon-map-marker"></i> Route Map
                            </a>
                        </li>
                    </ul> -->
                    <ul role="tablist" class="route_extra nav nav-tabs text-right" style="display: none">
                    <li><a class="show_hotels btn btn-primary margin-top15" style="" role="button">Find Hotels</a></li>
                    <li><a class="show_food btn btn-primary margin-top15" role="button">Find Food</a></li>
                    <li><a class="show_gas btn btn-primary margin-top15" role="button">Find GasStations</a></li>
                    <li><a class="show_traffic btn btn-primary margin-top15" role="button">Show Traffic</a></li>
                    </ul>
                    <div class="tab-content tab-content-2">
                        <div role="tabpanel" class="tab-pane active " id="profile">
                            <div class="row">

                                <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12">
                                    <div class="left-map">
                                        <!-- form start -->
                                        <form class="manual_view" name="create_route_form" action="{% url 'create_route' %}" method="POST">
                                        {% csrf_token %}
                                            <h3>
                                                Route / Trip Plan
                                                <a href="/route/add/" class="btn btn-primary margin-top15" role="button">Add New Route</a>
                                            </h3>
                                            <div>
                                                <span class="error_msg" style="display:none; color: red; font-size: 13px;">
                                                   One of your Locations is Invalid. Please Enter Valid Location
                                                </span>
                                            </div>
                                            <div class="cl"></div>

                                            <div class="info-input">
                                                <div class="field">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" name="trip_title" value="" id="trip_title" placeholder="Give it a name" required="true"/>
                                                    <span class="error_title" style="display:none; color: red; font-size: 13px;">Please give it a name</span>
                                                </div>
                                                <div class="field">
                                                    <label>Schedule On</label>
                                                    <input type="text" required="true" name="trip_datetime" id="datepicker" class="form-control" placeholder="Date / Time"/>
                                                    <span class="error_datetime" style="display:none; color: red; font-size: 13px;">Please enter Date / Time</span>
                                                </div>
                                                {% if user.user_profiles.user_role == "super_admin" or user.user_profiles.user_role == "admin" %}
                                                <div class="field">
                                                    <label>Assign to:</label>
                                                    <div>
                                                        {{form.user}}
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>Is editable:</label>
                                                    {{form.is_editable}}
                                                </div>
                                                {% endif %}
                                            </div>
                                            <!-- <div class="title"></div> -->

                                            <h5>Stops</h5>
                                            <ul id="myList">
                                                <li class="title loc">

                                                    <input class="controls form-control pac-input address_common" type="text"
                                                           placeholder="Start Location" name="start_search_address"
                                                           style="display: initial; width: 267px; background-color: #AFBFCD;" id="cmn1" required="true" >
                                                    <span class="errors" id="error_title1" style="display:none; color: red; font-size: 13px;">
                                                        This Location is invalid
                                                    </span>
                                                    <input TYPE="hidden" id="address1" class="controls form-control near_address_common"
                                                           type="text" placeholder="Start Nearest Address" name="start_near_address">
                                                    <input class="form-control note_common" id="start_location_note"
                                                           placeholder="Note (optional)" name="start_note_location">
                                                    <p class="weather_first">
                                                        <b style="color: blue; font-size: 15px">Weather:</b>
                                                        <b class="descs desc_first" style="font-size: 15px;"></b>
                                                        <p class="fers fer_first" style="margin-left: 63px; font-weight: 700;
                                                        font-size: 15px"></p><br>
                                                        <p style="font-size: 12px">Wind: <b class="winds wind_first"></b>
                                                        Humidity:<b class="hums hum_first"></b></p>
                                                    </p>
                                                    <input TYPE="hidden" name="latitude_first" class="latitude_first form-control
                                                    lat_common" id="latitude_first" value="" />
                                                    <input TYPE="hidden" name="longitude_first" class="longitude_first form-control
                                                    lng_common" id="longitude_first" value="" />
                                                    <input type="hidden" name="marker_status" class="form-control info" id="info"/>

                                                </li>

                                                <li class="add_waypoint_container">
                                                    <input type="hidden" value="0" name="total_waypoint" class="total_waypoint" />
                                                    <a role="button" class="btn btn-primary add_more_waypoint"
                                                       style="cursor:pointer;">
                                                        Add Stop
                                                    </a>
                                                    <div>&nbsp;</div>
                                                </li>

                                                <li class="title loc">
                                                    <input class="controls form-control pac-input address_common" type="text"
                                                           placeholder="End Location" name="end_search_address"
                                                           style="display: initial; width: 267px; background-color: #AFBFCD;" id="cmn2" required="true">
                                                    <span class="errors" id="error_title2" style="display:none; color: red; font-size: 13px;">
                                                        This Location is invalid
                                                    </span>
                                                    <input TYPE="hidden" id="address2" class="controls form-cotrol near_address_common"
                                                           type="text" placeholder="End Nearest address" name="end_near_address">
                                                    <input class="form-control note_common" id="end_location_note"
                                                           placeholder="Note (optional)" name="end_note_location">
                                                    <p class="weather_last">
                                                        <b style="color: blue; font-size: 15px">Weather:</b>
                                                        <b class="descs desc_last" style="font-size: 15px;"></b>
                                                        <p class="fers fer_last" style="margin-left: 63px; font-weight: 700;
                                                        font-size: 15px"></p><br>
                                                        <p style="font-size: 12px">Wind: <b class="winds wind_last"></b>
                                                        Humidity: <b class="hums hum_last"></b></p>
                                                    </p>

                                                    <input TYPE="hidden" name="latitude_last" class="latitude_last form-control
                                                    lat_common" id="latitude_last" value="" />
                                                    <input TYPE="hidden" name="longitude_last" class="longitude_last form-control
                                                    lng_common" id="longitude_last" value="" />
                                                    <input type="hidden" name="marker_status" class="form-control info" id="info"/>
                                                    <div class="stop_calc">
                                                        <input type="text" name="stop_distance" class="map-input stop_distance"
                                                                placeholder="Stop Distance" style="font-weight: bold; color: blue;"/>
                                                        <input type="text" name="stop_hours" class="map-input stop_hours"
                                                                placeholder="Stop Hours" style="font-weight: bold; color: blue;"/>
                                                    </div>
                                                </li>
                                            </ul>

                                            <div class="title">
                                                Total : <input type="text" readonly="true" name="total_distance" class="map-input total_distance"
                                                        placeholder="Total Distance" style="font-weight: bold; color: blue; width: 120px;"/>
                                                <input type="text" readonly="true" name="total_hours" class="map-input total_hours"
                                                        placeholder="Total Hours" style="font-weight: bold; color: blue; width: 120px;"/>
                                            </div>

                                            <input type="button" role="button" onclick="check_validation()" class="btn save_route btn-primary btn-1" value="Save">
                                            <div class="optimized_view" style="display: none">
                                            </div>
                                        </form>

                                        <!-- form end -->

                                    </div>
                                    <br>
                                    <span style="font-size: 20px; color: green">To change the order of your locations, left mouse click the white space above the address and drag it.</span>
                                </div>

                                <div class="col-lg-8 col-sm-12 col-md-8 col-xs-12">
                                    <div class="map-box">
                                        <div id="map-canvas"></div>
                                      <!--  Here comes the map div-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
        $("#datepicker").datetimepicker({
            formatTime:'g:i A',
            format: 'M d,Y h:i A'
        });

        $('input, select').addClass('form-control');
    })();
</script>

{% endblock %}