{% load utils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>BennyApp</title>
  <!-- <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/> -->
  <link href="{{STATIC_URL}}css/theme/bootstrap.css" rel="stylesheet"/>
  {# <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/docs/assets/css/bootstrap.min.css">#}
  <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap-calendar/css/calendar.css">
  <link href="{{STATIC_URL}}css/theme/style.css" rel="stylesheet" type="text/css" />
  <link href="{{STATIC_URL}}css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
  <!-- <link href="{{ STATIC_URL }}css/flexslider.css" rel="stylesheet" type="text/css" /> -->
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}fonts/font-awesome-4.1.0/css/font-awesome.min.css">
  <link href="{{STATIC_URL}}css/theme/media.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/theme/jv-jquery-mobile-menu.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/theme/animate.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/bootstrap-colorpicker.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/theme/style-custom.css" rel="stylesheet" type="text/css" />
  <link href="{{STATIC_URL}}css/theme/custom.css" rel="stylesheet" type="text/css" />
  <link href="/accounts/theme/css/" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
  {# <script type="text/javascript" src="{{STATIC_URL}}bower_components/jquery/jquery.js"></script>#}
  <script src="{{STATIC_URL}}js/jquery.datetimepicker.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/date.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/jquery-ui.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/jquery.flexslider-min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/jquery.are-you-sure.js" type="text/javascript"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script src="{{STATIC_URL}}js/theme/jv-jquery-mobile-menu-min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap-colorpicker.js"></script>

  {# <script type="text/javascript" src="{{ STATIC_URL }}bower_components/underscore/underscore-min.js"></script>#}
  {# <script type="text/javascript" src="{{ STATIC_URL }}bower_components/bootstrap/docs/assets/js/bootstrap.min.js"></script>#}
  {# <script type="text/javascript" src="{{ STATIC_URL }}bower_components/bootstrap-calendar/js/calendar.js"></script>#}
  {# <script type="text/javascript" src="{{ STATIC_URL }}bower_components/bootstrap-calendar/js/app.js"></script>#}

  {# <link href="{{STATIC_URL}}css/fullcalendar.css" rel="stylesheet" type="text/css" />#}
</head>
<body>
  {% if user.is_authenticated %}
  <input name="user_id" value="{{ user.id }}" type="hidden" />
  {% endif %}

  <div class="top-header">
     <div class="mobile-nav">
      <div class="gw-sidebar">
        <div id="gw-sidebar" class="gw-sidebar">
          <div class="nano-content">
            <ul class="gw-nav gw-nav-list">
              <li class="init-un-active"><a href="{% url 'index' %}"><span class="gw-menu-text">Home</span></a> </li>
              <li class="init-un-active"><a href="/download/"><span class="gw-menu-text">Download</span></a> </li>
              <li class="init-un-active"><a href="/support/"><span class="gw-menu-text">Support</span></a> </li>
              <li class="init-un-active"><a href="/about_us/"><span class="gw-menu-text">About</span></a></li>
              {% if user.is_authenticated %}
              <li class="init-un-active"><a href="/calender/"><span class="gw-menu-text">Calender</span></a></li>
              <li class="init-un-active"><a href="/maps/routes/"><span class="gw-menu-text">Created routes</span></a></li>
              <li class="init-un-active"><a href="/route/add/"><span class="gw-menu-text">Add Route</span></a></li>
              <li class="init-un-active"><a href="{% url 'pro-category' %}"><span class="gw-menu-text">Products</span></a></li>
              <li class="init-un-active"><a href="{% url 'ser-category' %}"><span class="gw-menu-text">Services</span></a></li>
              <li class="init-un-active"><a href="/route/add/"><span class="gw-menu-text">Product Inquiry</span></a></li>
              <li class="init-un-active"><a href="/route/add/"><span class="gw-menu-text">Service Inquiry</span></a></li>
              {% endif %}
              <li class="init-un-active"><a href="/contact_us/" style="border:none;"><span class="gw-menu-text">Contact</span></a></li>
              <!--
              <li class="init-un-active"> <a href="/"> <span class="gw-menu-text">Home</span> </a> </li>

              <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">Downloads</span> <b class="gw-arrow"></b> </a>
                <ul class="gw-submenu">
                  <li> <a href="javascript:void(0)">Menu 1</a> </li>
                </ul>
              </li>
              <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">Support</span> <b class="gw-arrow icon-arrow-up8"></b> </a>
                <ul class="gw-submenu">
                  <li> <a href="javascript:void(0)">Menu 1</a> </li>
                  <li> <a href="javascript:void(0)">Menu 2</a> </li>
                  <li> <a href="javascript:void(0)">Menu 3</a> </li>
                </ul>
              </li>
              <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">About Us</span> <b></b> </a>
                <ul class="gw-submenu">
                  <li> <a href="javascript:void(0)">Menu 1</a> </li>
                  <li> <a href="javascript:void(0)">Menu 2</a> </li>

                </ul>
              </li>
              <li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text">Contact Us</span> </a> </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="logo"> <img src="/static/images/theme/logo.jpg" class="img-responsive" alt="Benny App" > </div> -->
    <div class="logo"> <a href="/"> <img src="{{user|logo}}" class="img-responsive" alt="Benny App" > </a> </div>
    <div class="header-link">
      <ul class="list-inline">
        <li><a href="tel:+9726494193">972-649-4193</a></li>
        {% if user.is_authenticated and user.is_active and user.user_profiles.admin_status == "enable"%}
        <li>
          <div class="dropdown">
            <button class="btn my-account btn-default dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <i class="glyphicon glyphicon-user"></i> My Account
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/update-profile">
                        <h4>{{ user.first_name }}</h4>
                        <p>View Profile</p>
                    </a>
                    <hr style="margin:5px 0;" />
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Log Out</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account Settings</a></li>
                {% if user.user_profiles.user_role == 'super_admin' %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/theme/">Theme</a></li>
                {% endif %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Change Password</a></li>
                {% if user.user_profiles.user_role == 'super_admin' or user.user_profiles.user_role == 'admin' %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/users/">Users</a></li>
                {% endif %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/appointments/contact/">Contact</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/appointments/contact_group/">Contact Group</a></li>
                {% if user.user_profiles.user_role == 'super_admin' or user.user_profiles.user_role == 'admin' %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'form-category' %}">Form Creation</a></li>
                {% endif %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'input-forms' %}">Input Forms</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'display-forms' %}">Display Forms</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'customers' %}">Customers</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sync with mobile app Options</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Payment Options</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Payment History</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Set default calendar view</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Set language</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Email notifications</a></li>
            </ul>
          </div>
        </li>
        {% else %}
        <li><a href="#" id="login">Login</a></li>
        <li><a href="/signup" class="btn btn-primary">Sign up </a></li>
        {% endif %}
      </ul>
    </div>
 </div>
  <div class="page">
  {% block content %}
  {% endblock content %}
  </div>
<div class="footer">
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="footer-left">
            <p>© 2015 DM Tech Solutions, LLC.</p>
            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="footer-right">
                <p><a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
                </div>
                </div>
        </div>
        </div>
        </div>
  </div>

  <script src="{{STATIC_URL}}js/theme/script.js"></script>
  <script src="{{STATIC_URL}}js/theme/custom.js"></script>

  {#<script class="cssdesk" src="{{STATIC_URL}}js/fullcalendar.min.js" type="text/javascript"></script>#}
  {#<script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>#}
  {#        <script src="{{ STATIC_URL }}js/jquery.datetimepicker.js" type="text/javascript"></script>#}
  {##}
  {#        <script src="{{STATIC_URL}}js/jquery-ui.min.js" type="text/javascript"></script>#}
  {# <script type="text/javascript" src="{{ STATIC_URL }}bower_components/underscore/underscore-min.js"></script>#}
  {#        <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>#}
  {##}
  {# <script type="text/javascript" src="{{ STATIC_URL }}bower_components/bootstrap-calendar/js/calendar.js"></script>#}

  <script type="text/javascript">
  function MM_jumpMenu(targ,selObj,restore){ //v3.0
    eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
    if (restore) selObj.selectedIndex=0;
  }
  </script>

  {% if user.is_authenticated %}
  <!-- App -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/notify.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>

  {% endif %}

</body>
</html>