
{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

<!-- <div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 style="font-size: 21px; font-weight: 600;">MULTI-STOP TRIP PLANNING OR ROUTE DISPATCH</h3>
          <h5 class="title-text" style="font-weight: 600; color: #000000; line-height:20px; padding-top: 6px;">optimize or prioritize your routes or route stops – click, drag, and you are done</h5>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 style="font-size: 21px; font-weight: 600;">TURN-KEY MOBILE APP FOR YOUR BUSINESS</h3>
          <h5 class="title-text" style="color: #000000; font-weight: 600; line-height:20px; padding-top: 6px;">• customer contact info  • sales orders • scheduling calendar • GPS navigation  • collect, store, retrieve data</h5>
      </div>
      </div>
    </div>
  </div>
</div> -->

<div class="contan-eria static">
  <div class="container">
    <h2>Contact Us</h2>
    <p>For tech support, email <span style="color: deepskyblue;"> support@bennyapp.com</span></p>
    <p>For questions about our system or technology, email <span style="color: deepskyblue;">info@bennyapp.com</span></p>
  </div>
</div>

{% endblock %}