
{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="col-lg-6 col-md-6 col-sm-6"><h3 style="font-size: 21px;">MULTI-STOP TRIP PLANNING OR ROUTE DISPATCH</h3>
      <h5 class="title-text" style="color: #000000; line-height:20px; padding-top: 6px;">optimize or prioritize your routes or route stops – click, drag, and you are done</h5></div>
            <div class="col-lg-6 col-md-6 col-sm-6"><h5 class="title-text" style="letter-spacing:0.2px; line-height: 20px; color: #000000;">
            TURN-KEY MOBILE APP FOR YOUR BUSINESS – FREE TRIAL EASY SET UP<br>• customer contact info  • sales orders • scheduling calendar • GPS navigation  • collect, store, retrieve
data
            </h5></div>
      </div>
    </div>
  </div>
</div>

<div class="contan-eria">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width: 70%">
        <h2 class="hadding">Choose the appropriate link to download our gpsstops application to your Apple or Android device.</h2>
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        <div style="padding-top: 112px;"><a target="_blank" href="https://itunes.apple.com/in/genre/ios/id36?mt=8">
            <img style="width: 239px;" src="{{ STATIC_URL }}images/android.png"></a>
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        <div><a target="_blank" href="https://play.google.com/store/apps?hl=en">
            <img style="width: 239px; height:74px;" src="{{ STATIC_URL }}images/apple.png"></a>
        </div>
    </div>

  </div>
</div>


{% endblock %}

