{% extends 'base.html' %}
{% block content %}
{% include "logo_account.html" %}
{% load location_title_tags %}

<style>
    .map-box{
        background: #FFF !important;
        padding: 25px;
        height:600px;
    }
    #map-canvas {
        width:100%;
        height: 550px;
        float: left;
    }
    .title{
        margin-bottom:10px;
    }
    .title input,textarea{
        margin-top:10px;
    }
    .title h4{
        margin-top:10px;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script>

var input_first;
var input_last;
var searchBox_first;
var searchBox_last;

$(function() {
    $("#myList").sortable({
        axis : 'y',
        items : '.title',
        start: function () {
            $(this).find("li:not(.title)").each(function () {
                $(this).data("fixedIndex", $(this).index());
            });
        },
        change: function () {
            $(this).find("li:not(.title)").each(function () {
                $(this).detach().insertAfter($("#myList li:eq(" + ($(this).data("fixedIndex")-1) + ")"));
            });

            setTimeout(function() {
                changeIds();
            }, 1000);
            setTimeout(function() {
               calcRoute();
            }, 1000);
        }
    });
});

function check_validation() {
    console.log("jhfdj");
    var flag = false;
    if($('#trip_title').val() == ''){
        flag = true;
        $(".error_title").show();
    }
    else{
        $(".error_title").hide();
    }
    if($('#datepicker').val() == ''){
        flag = true;
        $(".error_datetime").show();
    }
    else{
        $(".error_datetime").hide();
    }
    $('.loc').each(function(i, obj) {
        var near_address_common = $(this).find(".near_address_common");
        if(i==0){
            title_error = '#error_title1';
        }
        else{
            if(last_waypoint_no == 0){
                title_error = '#error_title2';
            }
            else{
                if(last_waypoint_no+1 == i){
                    title_error = '#error_title2';
                }

                else{
                    title_error = '#error_title'+(i+2);
                }
            }
        }
        if(near_address_common.val() == ''){
            flag = true;
            $(title_error).show();
        }
        else{
            $(title_error).hide();
        }
    });
    if(flag==false){
        $( ".manual_view" ).submit();
    }
}

function changeIds() {

    $('.loc').each(function(i, obj) {
        var near_address_common = $(this).find(".near_address_common");
        var address_common = $(this).find(".address_common");
        var note_common = $(this).find(".note_common");
        var lat_common = $(this).find(".lat_common");
        var lng_common = $(this).find(".lng_common");
        var delete_a = $(this).find(".delete_waypoint");
        var errors = $(this).find(".errors");
        var infos = $(this).find(".info");
        var stop_hs = $(this).find(".stop_calc");

        var prefix = "way_loc";
        var classes = obj.className.split(" ").filter(function(c) {
            return c.lastIndexOf(prefix, 0) !== 0;
        });
        obj.className = $.trim(classes.join(" "));

        if(i==0){
            address_common.attr('placeholder', 'Start Location');
            address_common.attr('name', 'start_search_address');
            near_address_common.attr('name', 'start_near_address');
            note_common.attr('name', 'start_note_location');
            lat_common.attr('name', 'latitude_first');
            lng_common.attr('name', 'longitude_first');
            near_address_common.attr('id', 'address1');
            address_common.attr('id', 'cmn1');
            errors.attr('id', 'error_title1');
            address_common.css('background-color', '#AFBFCD');
            $(delete_a).remove();
            $(stop_hs).remove();
        }
        else{
            if(last_waypoint_no == 0){
                address_common.attr('placeholder', 'End Location');
                address_common.attr('name', 'end_search_address');
                near_address_common.attr('name', 'end_near_address');
                note_common.attr('name', 'end_note_location');
                lat_common.attr('name', 'latitude_last');
                lng_common.attr('name', 'longitude_last');
                near_address_common.attr('id', 'address2');
                address_common.css('background-color', '#AFBFCD');
                $(delete_a).remove();
                $(stop_hs).remove();
                infos.after("<div class='stop_calc'><input type='text' readonly='true' name='stop_distance' class='map-input stop_distance' " +
                "placeholder='Stop Distance' style='font-weight: bold; color: blue;'/><input type='text' readonly='true' " +
                "name='stop_hours' class='map-input stop_hours' placeholder='Stop Hours' style='font-weight: bold; color: blue;'/> " +
                "</div>");
            }
            else{
                if(last_waypoint_no+1 == i){
                    address_common.attr('placeholder', 'End Location');
                    address_common.attr('name', 'end_search_address');
                    near_address_common.attr('name', 'end_near_address');
                    note_common.attr('name', 'end_note_location');
                    lat_common.attr('name', 'latitude_last');
                    lng_common.attr('name', 'longitude_last');
                    near_address_common.attr('id', 'address2');
                    address_common.attr('id', 'cmn2');
                    errors.attr('id', 'error_title2');
                    address_common.css('background-color', '#AFBFCD');
                    $(delete_a).remove();
                    $(stop_hs).remove();
                infos.after("<div class='stop_calc'><input type='text' readonly='true' name='stop_distance' class='map-input stop_distance' " +
                "placeholder='Stop Distance' style='font-weight: bold; color: blue;'/><input type='text' readonly='true' " +
                "name='stop_hours' class='map-input stop_hours' placeholder='Stop Hours' style='font-weight: bold; color: blue;'/> " +
                "</div>");
                }
                else{
                    var way_li_class = 'way_loc_'+i;
                    $(obj).addClass(way_li_class);
                    address_common.attr('placeholder', 'Stop '+ i );
                    address_common.attr('name', 'search_address'+i);
                    near_address_common.attr('name', 'near_address'+i);
                    note_common.attr('name', 'note_waypoint'+i);
                    lat_common.attr('name', 'latitude'+i);
                    lng_common.attr('name', 'longitude'+i);
                    near_address_common.attr('id', 'address'+(i+2));
                    address_common.attr('id', 'cmn'+(i+2));
                    errors.attr('id', 'error_title'+(i+2));
                    address_common.attr('id', 'cmn2');
                    errors.attr('id', 'error_title2');
                    $(delete_a).remove();
                    address_common.after("<a id='"+i+"' class='delete_waypoint'><i class='glyphicon glyphicon-remove' style='color: #CD3C58;'></i></a>");
                    address_common.css('background-color', '');
                    $(stop_hs).remove();
                    infos.after("<div class='stop_calc'><input type='text' readonly='true' name='stop_distance' class='map-input stop_distance' " +
                "placeholder='Stop Distance' style='font-weight: bold; color: blue;'/><input type='text' readonly='true' " +
                "name='stop_hours' class='map-input stop_hours' placeholder='Stop Hours' style='font-weight: bold; color: blue;'/> " +
                "</div>");
                }
            }
        }
    });

    var current_classes = $('.pac-input').length;
    for(var r=0;r<autocomplete.length;++r){
        google.maps.event.clearListeners(autocomplete[r], 'place_changed');
    }
    autocomplete = [];
    console.log(autocomplete);
    for(var k=0; k<current_classes;k++) {
        if (k != 0 && k != current_classes - 1) {
            alreadyInput = [];
            alreadyInput.push($('.pac-input')[k]);
            setupAutocomplete(autocomplete, alreadyInput, 0, k);
        }
    }
    google.maps.event.clearListeners(searchBox_first, 'place_changed');
    google.maps.event.clearListeners(searchBox_last, 'place_changed');
    input_first = $('.pac-input')[0];
    input_last = $('.pac-input')[current_classes-1];
    // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    searchBox_first = new google.maps.places.SearchBox((input_first));
    searchBox_last = new google.maps.places.SearchBox((input_last));

    google.maps.event.addListener(searchBox_first, 'places_changed', function() {
        console.log("searchbox first");
        var places = searchBox_first.getPlaces();
        if (places.length == 0) {
            return;
        }
        for (var i = 0, marker; marker = markers[i]; i++) {
            marker.setMap(null);
        }
        // For each place, get the icon, place name, and location.
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0, place; place = places[i]; i++) {
              // Create a marker for each place.
            marker = new google.maps.Marker({
                map: map,
                title: place.name,
                position: place.geometry.location,
            });
            $("#latitude_first").val(place.geometry.location.lat());
            $("#longitude_first").val(place.geometry.location.lng());
            updateMarkerPosition(marker.getPosition());
            geocodePosition(marker.getPosition(),'1');

            google.maps.event.addListener(marker, 'dragend', function() {
                geocodePosition(marker.getPosition(),'1');
                $("#latitude_first").val(marker.getPosition().lat());
                $("#longitude_first").val(marker.getPosition().lat());
            });
            markers.push(marker);
            bounds.extend(place.geometry.location);
        }

        if($('#address2').val().length > 0 && $('#address2').val() != 'undefined')
        {
            console.log("searchbox last make route");
            setTimeout(function() {
                calcRoute();
            }, 1000);
        }
        else{
            map.fitBounds(bounds);
            map.setZoom(9);
        }
    });

    // End Place Search Box
    google.maps.event.addListener(searchBox_last, 'places_changed', function() {
        console.log("searchbox last");
        var places1 = searchBox_last.getPlaces();
        if (places1.length == 0) {
            return;
        }
        for (var i = 0, marker; marker = markers[i]; i++) {
            marker.setMap(null);
        }
        // For each place, get the icon, place name, and location.
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0, place; place = places1[i]; i++) {
        // Create a marker for each place.
            marker = new google.maps.Marker({
                map: map,
                title: place.name,
                position: place.geometry.location,
            });
            $("#latitude_last").val(place.geometry.location.lat());
            $("#longitude_last").val(place.geometry.location.lng());
            updateMarkerPosition(marker.getPosition());
            geocodePosition(marker.getPosition(),'2');

            google.maps.event.addListener(marker, 'dragend', function() {
                geocodePosition(marker.getPosition(),'2');
                $("#latitude_last").val(marker.getPosition().lat());
                $("#longitude_last").val(marker.getPosition().lat());
            });
            markers.push(marker);
            bounds.extend(place.geometry.location);
        }

        if($('#address1').val().length > 0 && $('#address1').val() != 'undefined')
        {
            console.log("searchbox last make route");
            setTimeout(function() {
                calcRoute();
            }, 500);
        }
        else{
            map.fitBounds(bounds);
            map.setZoom(9);
        }
    });

}

var map;
var markers = [];
var autocomplete = [];
var autocompleteOptions = {};
var waypoints = [];
var last_waypoint_no = parseInt({{ total_way_point }});

$(document).on("click",".delete_waypoint", function() {
    $('.way_loc_'+$(this).attr('id')).remove();
    last_waypoint_no -= 1;
    $('.total_waypoint').val(last_waypoint_no);

    setTimeout(function() {
        changeIds();
    }, 1000);
    if($('#address1').val().length > 0 && $('#address2').val().length >0) {
        setTimeout(function () {
            calcRoute();
        }, 1000);
    }
});

$(document).on("input",".address_common", function() {
    if(this.value != ''){
        var id = this.id.slice('-1');
        var near_id = '#address' + id;
        $(near_id).val('');
    }
});

$(document).ready(function(){

    $(window).keydown(function(event){
        if(event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });

// Multiple Location add Script
    $('.add_more_waypoint').on('click', function(){
        // Getting last waypoint no
        last_waypoint_no = parseInt($('.total_waypoint').val()) + 1;
        var waypoint_id = last_waypoint_no + 2;
        console.log("Adding waypoint value-->"+last_waypoint_no);
        var myhtml= "<li class='title loc way_loc_"+last_waypoint_no+"'><input class='controls form-control pac-input address_common' type='text' " +
                "placeholder='Stop "+ last_waypoint_no+"' id='cmn"+waypoint_id+"' name='search_address"+ last_waypoint_no+"' required='true'" +
                 "style='display: initial; width: 267px;'> <a id='"+last_waypoint_no+"' class='delete_waypoint'><i class='glyphicon glyphicon-remove' style='color: #CD3C58;'></i></a> " +
                "<span class='errors' id='error_title"+waypoint_id+"' style='display:none; color: red; font-size: 13px;'>This Location is invalid</span>" +
                "<input TYPE='hidden' id='address"+waypoint_id+"' class='controls form-control near_address_common address"+last_waypoint_no+"' type='text' " +
                "placeholder='Waypoint "+last_waypoint_no+" Nearest address' name='near_address"+ last_waypoint_no+"'>" +
                "<input class='form-control note_common location_note_"+last_waypoint_no+"' " +
                "placeholder='Note (optional)' name='note_waypoint"+ last_waypoint_no+"'/ >" +
                "<input TYPE='hidden' name='latitude"+last_waypoint_no+"' id='latitude"+last_waypoint_no+"' class='lat_common latitude"+last_waypoint_no+" form-control' value />" +
                "<input TYPE='hidden' name='longitude"+last_waypoint_no+"' id='longitude"+last_waypoint_no+"' class='lng_common longitude"+last_waypoint_no+" form-control' value />" +
                "<input type='hidden' name='marker_status"+last_waypoint_no+"' class='form-control info' id='info'/>" +
                "<input type='hidden' name='my_waypoint_no' class='my_waypoint_no' value='"+last_waypoint_no+"'></input>" +
                "<div class='stop_calc'><input type='text' readonly='true' name='stop_distance' class='map-input stop_distance' " +
                "placeholder='Stop Distance' style='font-weight: bold; color: blue;'/><input type='text' readonly='true' " +
                "name='stop_hours' class='map-input stop_hours' placeholder='Stop Hours' style='font-weight: bold; color: blue;'/> " +
                "</div></li>";
        // appending new waypoint html
        if(last_waypoint_no == 1){
            $('.add_waypoint_container').after(myhtml);
        }
        else{
            var current_way_loc = '.way_loc_'+parseInt(last_waypoint_no-1);
            $(current_way_loc).after(myhtml);
        }

        var newInput = [];
        var newEl = $('.pac-input')[last_waypoint_no];
        newInput.push(newEl);

        setupAutocomplete(autocomplete, newInput, 0, last_waypoint_no);
        // adding new waypoint
        $('.total_waypoint').val(last_waypoint_no);
    });

});

function update_way_addressfun(latlng_data, way_no){
    console.log("to change");
    $('#latitude'+way_no).val(latlng_data.lat());
    $('#longitude'+way_no).val(latlng_data.lng());
    geocoder.geocode({
        latLng: latlng_data
    }, function(responses) {
        if (responses && responses.length > 0) {
            current_location = responses[0].formatted_address;
            // waypoints.push(current_location);
            update_way_address(current_location, way_no)
        }
    });
}

function update_way_address(str, way_no) {
    console.log(str+"<>"+way_no);
    $('#address'+(way_no+2)).val(str);
}

function setupAutocomplete(autocomplete, inputs, i, last_waypoint_no) {
    autocomplete.push(new google.maps.places.Autocomplete(inputs[i], autocompleteOptions));
    var idx = autocomplete.length - 1;
    //autocomplete[i].bindTo('bounds', map);
    autocomplete[idx].bindTo('bounds', map);
    console.log(autocomplete[idx], '-000000000000000000000');
    google.maps.event.addListener(autocomplete[idx], 'place_changed', function() {
        console.log(last_waypoint_no, "<--- Waypoint ");
        var place_n = autocomplete[idx].getPlace();
        // This will return the nearest address and add as waypoint
        update_way_addressfun(place_n.geometry.location, last_waypoint_no);
        if($('#address1').val().length > 0 && $('#address2').val().length >0)
        {
            console.log("searchbox waypoint "+last_waypoint_no+"  make route");
            setTimeout(function() {
                calcRoute();
            }, 1000);
        }
    });
}

// drag make possible

var geocoder = new google.maps.Geocoder();

function geocodePosition(pos,box_no) {
    geocoder.geocode({
        latLng: pos
    }, function(responses) {
        if (responses && responses.length > 0) {
            if(box_no == '1'){
                updateMarkerAddress1(responses[0].formatted_address);
            }
            else{
                updateMarkerAddress2(responses[0].formatted_address);
            }

        } else {
            if(box_no == '1'){
                updateMarkerAddress1('Cannot determine address at this location.');
            }
            else{
                updateMarkerAddress2('Cannot determine address at this location.');
            }
        }
    });
}

function updateMarkerPosition(latLng) {
    var str =  latLng.lat() +" "+ latLng.lng();
    $('#info').val(str);
}

function updateMarkerAddress1(str) {
    console.log("------------------------------------------");
    $('#address1').val(str);
}

function updateMarkerAddress2(str) {
    $('#address2').val(str);
}

var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var rendererOptions = {
};

function initialize() {
    directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
    var chicago = new google.maps.LatLng(41.850033, -87.6500523);

    map = new google.maps.Map(document.getElementById('map-canvas'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoom: 6,
        center: chicago
    });

    // direction service code
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('directions'));

    calcRoute();

    // search box defined here
    var current_classes = $('.pac-input').length;
    console.log(current_classes);

    for(p=0; p<current_classes;p++) {
        if (p != 0 && p != current_classes - 1) {
            var alreadyInput = [];
            alreadyInput.push($('.pac-input')[p]);
            setupAutocomplete(autocomplete, alreadyInput, 0, p);
        }
    }

    input_first = $('.pac-input')[0];
    input_last = $('.pac-input')[current_classes-1];
    // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    searchBox_first = new google.maps.places.SearchBox((input_first));
    searchBox_last = new google.maps.places.SearchBox((input_last));

    // search function start here
    google.maps.event.addListener(searchBox_first, 'places_changed', function() {
        console.log("searchbox first");
        var places = searchBox_first.getPlaces();
        if (places.length == 0) {
            return;
        }
        for (var i = 0, marker; marker = markers[i]; i++) {
            marker.setMap(null);
        }
        // For each place, get the icon, place name, and location.
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0, place; place = places[i]; i++) {
              // Create a marker for each place.
            marker = new google.maps.Marker({
                map: map,
                title: place.name,
                position: place.geometry.location,
            });
            $("#latitude_first").val(place.geometry.location.lat());
            $("#longitude_first").val(place.geometry.location.lng());
            updateMarkerPosition(marker.getPosition());
            geocodePosition(marker.getPosition(),'1');

            google.maps.event.addListener(marker, 'dragend', function() {
                geocodePosition(marker.getPosition(),'1');
                $("#latitude_first").val(marker.getPosition().lat());
                $("#longitude_first").val(marker.getPosition().lat());
            });
            markers.push(marker);
            bounds.extend(place.geometry.location);
        }

        if($('#address2').val().length > 0 && $('#address2').val() != 'undefined')
        {
            console.log("searchbox last make route");
            setTimeout(function() {
                calcRoute();
            }, 500);
        }
        else{
            map.fitBounds(bounds);
            map.setZoom(9);
        }
    });

    // End Place Search Box
    google.maps.event.addListener(searchBox_last, 'places_changed', function() {
        console.log("searchbox last");
        var places1 = searchBox_last.getPlaces();
        if (places1.length == 0) {
            return;
        }
        for (var i = 0, marker; marker = markers[i]; i++) {
            marker.setMap(null);
        }
        // For each place, get the icon, place name, and location.
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0, place; place = places1[i]; i++) {
        // Create a marker for each place.
            marker = new google.maps.Marker({
                map: map,
                title: place.name,
                position: place.geometry.location,
            });
            $("#latitude_last").val(place.geometry.location.lat());
            $("#longitude_last").val(place.geometry.location.lng());
            updateMarkerPosition(marker.getPosition());
            geocodePosition(marker.getPosition(),'2');

            google.maps.event.addListener(marker, 'dragend', function() {
                geocodePosition(marker.getPosition(),'2');
                $("#latitude_last").val(marker.getPosition().lat());
                $("#longitude_last").val(marker.getPosition().lat());
            });
            markers.push(marker);
            bounds.extend(place.geometry.location);
        }

        if($('#address1').val().length > 0 && $('#address1').val() != 'undefined')
        {
            console.log("searchbox last make route");
            setTimeout(function() {
                calcRoute();
            }, 500);
        }
        else{
            map.fitBounds(bounds);
            map.setZoom(9);
        }
    });

}
//initial function close here


// calculate route function
function calcRoute() {
    $('.optimized_view').empty();
    for (var y = 0, marker; marker = markers[y]; y++) {
        marker.setMap(null);
    }
    console.log("yes it is entering on calcroute");
    var start = $('#address1').val();
    var end = $('#address2').val();

    console.log(start);
    console.log(end);

    var way_points_arr = [];
    total_waypoints_temp = parseInt($('.total_waypoint').val()) +2;
    for(var i=3; i<=total_waypoints_temp;i++){
        if($('#address'+i).val() != ''){
            way_points_arr.push({
            location:$('#address'+i).val(),
            stopover:true});
        }
    }
    console.log(way_points_arr);

    var request = {
        origin: start,
        destination: end,
        waypoints: way_points_arr,
{#        optimizeWaypoints: true,#}
        travelMode: google.maps.TravelMode.DRIVING,
        unitSystem: google.maps.UnitSystem.IMPERIAL
    };

    var request2 = {
        origin: start,
        destination: end,
        waypoints: way_points_arr,
        optimizeWaypoints: true,
        travelMode: google.maps.TravelMode.DRIVING,
        unitSystem: google.maps.UnitSystem.IMPERIAL
    };

    String.prototype.toHHMMSS = function () {
        var sec_num = parseInt(this, 10);
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        return hours+' hrs '+minutes+' mins';
    };


    directionsService.route(request2, function(response2, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            console.log(response2);
            var optimized_routes = response2.routes[0].legs;
            var optimized_waypoints_order = response2.routes[0].waypoint_order;
            console.log(optimized_routes);
            var total_distance_opt = 0;
            var total_duration_opt = 0;
            for (var o = 0; o < optimized_routes.length; o++) {
                total_distance_opt += parseInt(optimized_routes[o].distance.text.substr(0,optimized_routes[o].distance.text.length-3).replace(',',''));
                total_duration_opt += optimized_routes[o].duration.value;
            }
{#            total_distance_opt = (total_distance_opt / 1000.0).toFixed();#}
            var total_distance_opt_int = total_distance_opt.toString() + ' miles';
            var total_duration_opt_format = total_duration_opt.toString().toHHMMSS();
            for(var e=0;e<optimized_waypoints_order.length;++e){
                console.log(optimized_waypoints_order[e]);
                $('.optimized_view').append("<input TYPE='hidden' name='order"+e+"' value='"+optimized_waypoints_order[e]+"'>");
            }
            $('.optimized_view').append("<input type='text' name='opt_distance' value='"+total_distance_opt_int+"'/>" +
            "<input type='text' name='opt_hours' value='"+total_duration_opt_format+"'/>");
        }
    });

    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            console.log("Done");
            var route = response.routes[0];
            console.log(route);
            var total_distance_int = 0;
            var total_duration = 0;
            for (var i = 0; i < route.legs.length; i++) {
                total_distance_int += parseInt(route.legs[i].distance.text.substr(0,route.legs[i].distance.text.length-3).replace(',',''));
                total_duration+= route.legs[i].duration.value;
            }
            $('.stop_distance').each(function(i, obj) {
                $(this).val(route.legs[i].distance.text.substr(0,route.legs[i].distance.text.length-3).toString() + ' miles');
            });
            $('.stop_hours').each(function(i, obj) {
                $(this).val(route.legs[i].duration.value.toString().toHHMMSS());
            });
{#            total_distance_int = (total_distance_int / 1000.0).toFixed();#}
            console.log(total_duration);
            var total_distance = total_distance_int.toString() + ' miles';
            var total_duration_in_format = total_duration.toString().toHHMMSS();
            $('.total_distance').val(total_distance);
            $('.total_hours').val(total_duration_in_format);
        }
    });
}

google.maps.event.addDomListener(window, 'load', initialize);


function manual_view(){
    $("#manual_li").addClass('active');
    $("#optimized_li").removeClass('active');
    $("#manual_a").removeAttr('href');
    $("#optimized_a").attr('href', 'javascript:optimized_view()');
    $("#directions").hide();
    $("#map_points").show();
}

function optimized_view(){
    $("#manual_li").removeClass('active');
    $("#optimized_li").addClass('active');
    $("#optimized_a").removeAttr('href');
    $("#manual_a").attr('href', 'javascript:manual_view()');
    $("#map_points").hide();
    $("#directions").show();
}

</script>

<div class="contan-eria">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div role="tabpanel">

                    <ul role="tablist" class="nav nav-tabs text-center">
                        <li role="presentation" class="">
                            <a href="{% url 'calender_prime' %}" class="right-tab">
                                <i class="glyphicon glyphicon-calendar"></i> Calendar
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="/maps/routes" class="right-tab"  aria-expanded="true">
                                <i class="glyphicon glyphicon-map-marker"></i> Route Map
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content tab-content-2">
                        <div role="tabpanel" class="tab-pane active " id="profile">
                            <div class="row">

                                <ul role="tablist" class="nav nav-tabs ">
                                    <li id="manual_li" role="presentation" class="active" style="margin-left: 15px; width: 185px;">
                                        <a id="manual_a" style="font-size: 18px; padding-left: 42px !important" class="right-tab">
                                            Map Stops
                                        </a>
                                    </li>
                                    <li id="optimized_li" role="presentation" class="" style="width: 185px;">
                                        <a href="javascript:optimized_view()" id="optimized_a" class="right-tab" style="font-size: 18px;
                                         padding-left: 42px !important; padding-right: 26px !important;"
                                        aria-expanded="true">Directions
                                        </a>
                                    </li>
                                </ul>

                                <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12">
                                    <div class="left-map">
                                        <div id="map_points">
                                        <!-- form start -->
                                        <form name="create_route_form" action="." method="POST">
                                        {% csrf_token %}
                                            <h3>Route / Trip Plan</h3>
                                            <a href="/route/add" class="btn btn-primary margin-top15" role="button">Add New Route</a>
                                            <div>&nbsp;</div>

                                            <span class="error_msg" style="display:none; color: red; font-size: 13px;">
                                               One of your Locations is Invalid. Please Enter Valid Location
                                            </span>

                                            <div class="cl"></div>
                                            <div class="title">
                                            <input type="text" class="form-control" name="trip_title" value="{{ route_obj.trip_title }}"
                                                           placeholder="Give it a name" id="trip_title" required="true"/>
                                            <span class="error_title" style="display:none; color: red; font-size: 13px;">
                                               Please give it a name
                                            </span>
                                            <input type="text" required="true" name="trip_datetime" id="datepicker" class="form-control"
                                                        placeholder="Date / Time" value="{{ route_obj.trip_datetime|date:'Y/m/d H:i' }}"/>
                                            <span class="error_datetime" style="display:none; color: red; font-size: 13px;">
                                               Please enter Date / Time
                                            </span>
                                            </div>
                                            <div>&nbsp;</div>
                                            <ul id="myList">
                                                <li class="title loc">
                                                    {% with location_obj|first as data %}
                                                    <input class="controls form-control pac-input address_common" type="text"
                                                           placeholder="Start Location" name="start_search_address"
                                                           value="{{ data.location_address }}" id="cmn1"
                                                           style="display: initial; width: 267px; background-color: #AFBFCD;" required="true">
                                                    <span class="errors" id="error_title1" style="display:none; color: red; font-size: 13px;">
                                                        This Location is invalid
                                                    </span>
                                                    <input TYPE="hidden" id="address1" class="controls form-control near_address_common"
                                                           value="{{ data.location_near_address }}"
                                                           type="text" placeholder="Start Nearest Address" name="start_near_address">
                                                    <input class="form-control note_common" id="start_location_note"
                                                           value="{{ data.location_note }}"
                                                           placeholder="Note (optional)" name="start_note_location">
                                                    <input TYPE="hidden" name="latitude_first" class="latitude_first form-control lat_common"
                                                           value="{{ data.location_lat }}" id="latitude_first"/>
                                                    <input TYPE="hidden" name="longitude_first" class="longitude_first form-control lng_common"
                                                           value="{{ data.location_long }}" id="longitude_first"/>
                                                    <input type="hidden" name="marker_status" class="form-control info" id="info"/>

                                                    {% endwith %}
                                                </li>

                                                <li class="add_waypoint_container">
                                                    <input type="hidden" value="{{ total_way_point }}" name="total_waypoint" class="total_waypoint" />
                                                    <a role="button" class="btn btn-primary add_more_waypoint"
                                                       style="cursor:pointer;">
                                                        Add Stop
                                                    </a>
                                                    <div>&nbsp;</div>
                                                </li>

                                                {% for way_point in location_obj %}
                                                {% if way_point.location_number not in start_end  %}
                                                <li class="title loc way_loc_{{ way_point.location_number }}">
                                                    <input class="controls form-control pac-input address_common"
                                                    type="text" required="true" value="{{ way_point.location_address }}"
                                                    placeholder="Waypoint {{ way_point.location_number }} Location"
                                                    name="search_address{{ way_point.location_number }}" autocomplete="off"
                                                    style="display: initial; width: 267px;" id="cmn{{ way_point.location_number|add:"+2" }}">
                                                    <a id="{{ way_point.location_number }}" class='delete_waypoint'>
                                                    <i class='glyphicon glyphicon-remove' style='color: #CD3C58;'></i></a>
                                                    <span class='errors' id='error_title{{ way_point.location_number|add:"+2" }}' style='display:none; color: red; font-size: 13px;'>
                                                    This Location is invalid
                                                    </span>
                                                    <input TYPE="hidden" class="near_address_common controls form-control address{{ way_point.location_number }}"
                                                    value="{{ way_point.location_near_address }}" type="text" name="near_address{{ way_point.location_number }}"
                                                    id='address{{ way_point.location_number|add:"+2" }}'>

                                                    <input class="form-control note_common location_note_{{ way_point.location_number }}"
                                                    placeholder="Note (optional)" value="{{ way_point.location_note }}" name="note_waypoint{{ way_point.location_number }}">
                                                    <input type="hidden" name="latitude{{ way_point.location_number }}"
                                                    class="lat_common latitude{{ way_point.location_number }} form-control"
                                                    value="{{ way_point.location_lat }}" id="latitude{{ way_point.location_number }}">
                                                    <input type="hidden" name="longitude{{ way_point.location_number }}"
                                                    class="lng_common longitude{{ way_point.location_number }} form-control"
                                                     value="{{ way_point.location_long }}" id="longitude{{ way_point.location_number }}">
                                                    <input type="hidden" name="marker_status{{ way_point.location_number }}" class="form-control info" id="info">
                                                    <input type="hidden" name="my_waypoint_no" class="my_waypoint_no" value="1">
                                                    <div class="stop_calc">
                                                        <input type="text" name="stop_distance" class="map-input stop_distance"
                                                                placeholder="Stop Distance" style="font-weight: bold; color: blue;"/>
                                                        <input type="text" name="stop_hours" class="map-input stop_hours"
                                                                placeholder="Stop Hours" style="font-weight: bold; color: blue;"/>
                                                    </div>
                                                </li>
                                                {% endif %}
                                                {% endfor %}

                                                <li class="title loc">
                                                    {% for obj in location_obj %}
                                                    {% if obj.location_number == 22 %}
                                                    <input class="controls form-control pac-input address_common" type="text"
                                                           placeholder="End Location" name="end_search_address"
                                                           value="{{ obj.location_address }}" id="cmn2"
                                                           style="display: initial; width: 267px; background-color: #AFBFCD;" required="true">
                                                    <span class="errors" id="error_title2" style="display:none; color: red; font-size: 13px;">
                                                        This Location is invalid
                                                    </span>
                                                    <input TYPE="hidden" id="address2" class="controls form-cotrol near_address_common" type="text"
                                                           placeholder="End Nearest address" name="end_near_address"
                                                           value="{{ obj.location_near_address }}">
                                                    <input class="form-control note_common" id="end_location_note"
                                                           placeholder="Note (optional)" name="end_note_location"
                                                           value="{{ obj.location_note }}">
                                                    <input TYPE="hidden" name="latitude_last" class="latitude_last form-control lat_common"
                                                           value="{{ obj.location_lat }}" id="latitude_last"/>
                                                    <input TYPE="hidden" name="longitude_last" class="longitude_last form-control lng_common"
                                                           value="{{ obj.location_long }}" id="longitude_last"/>
                                                    <input type="hidden" name="marker_status" class="form-control info" id="info"/>
                                                    <div class="stop_calc">
                                                        <input type="text" name="stop_distance" class="map-input stop_distance"
                                                                placeholder="Stop Distance" style="font-weight: bold; color: blue;"/>
                                                        <input type="text" name="stop_hours" class="map-input stop_hours"
                                                                placeholder="Stop Hours" style="font-weight: bold; color: blue;"/>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </li>
                                            </ul>

                                            <div class="title">

                                                Total : <input type="text" readonly="true" name="total_distance" class="map-input total_distance"
                                                        placeholder="Total Distance" style="font-weight: bold; color: blue; width: 120px;"
                                                        value="{{ route_obj.total_distance }}"/>
                                                <input type="text"  readonly="true" name="total_hours" class="map-input total_hours"
                                                        placeholder="Total Hours"  style="font-weight: bold; color: blue; width: 120px;"
                                                        value="{{ route_obj.total_time }}"/>
                                            </div>

                                            <input type="submit" role="button" class="btn btn-primary btn-1" value="Update">
                                            <div class="optimized_view" style="display: none">
                                            </div>
                                        </form>
                                        &nbsp;
                                        <!-- form end -->
                                        <div class="">
                                                    {% for route in routes %}
                                                        <div class="title">
                                                            <a href="{% url 'edit-route' route.id %}">
                                                                <h5>{{ route.trip_title }} </h5>
                                                                <p>Location: {% for location in route.route_locations.all %}{% retrieve_title location.location_address %}, {% endfor %} </p>
                                                                <p><span>Date: {{ route.trip_datetime }} | Distance: {{ route.total_distance }} Miles. Time: {{ route.total_time }} </span></p>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                        </div>
                                    <div id="directions" style="display: none;">
                                    </div>



                                    </div>
                                    <br>
                                    <span style="font-size: 20px; color: green">You can also click and drag for rearranging Locations</span>

                                </div>

                                <div class="col-lg-8 col-sm-12 col-md-8 col-xs-12">
                                    <div class="map-box">
                                        <div id="map-canvas"></div>
                                      <!--  Here comes the map div-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
jQuery.browser = {};
(function () {
    jQuery.browser.msie = false;
    jQuery.browser.version = 0;
    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
        jQuery.browser.msie = true;
        jQuery.browser.version = RegExp.$1;
    }
})();
     $(function(){
         $("#datepicker").datetimepicker();
     });
</script>

{% endblock %}