{% extends 'base.html' %}

{% block content %}
{% include "logo_account.html" %}
<div class="contan-eria static learn-more">
  <div class="container">
    <h2>FAQ's</h2>
    <h4>What is the Bennyapp platform in simple terms, and how can I use it?</h4>
    <p>The Bennyapp platform is a fast, and cost effective way for businesses, associations, groups, and individuals to utilize a mobile app for their audience, without the high development cost.  Although some mobile applications are very specific and sophisticated, many only need a mobile application for the most common functionalities.  Bennyapp provides this and more.  Each of our customer’s mobile app is separate and specific for their use, and all of the data and information contained is separate as well.  Depending upon the user and defined role, you can create contact forms that can be used to send and receive data separately with employees and customers, while storing the results in your separate database.</p>

    <h4>Is The Setup Hard, Do I need Technical Experience?</h4>
    <p>We don’t like to use the word setup, it seems permanent; we prefer configuration.  What’s great about our platform is that it is dynamic, so you have the ability to change any part of the configuration at any time.  Changing users or contact forms at any time after the initial configuration is perfectly fine, and the way the system was intended to be used.  No the configuration is not hard, and you don’t need to be a technical person.  We put a lot of effort behind the design of the user interface to make it as easy as possible.  For those that need assistance on understanding how the system works, we provide detailed instructions and FREE tech support.</p>

    <h4>How Do I Configure Up My Mobile App?</h4>
    <p>After you create an account on the Bennyapp platform, you will be provided a PC access account to configure and manage your mobile app.</p>

    <h4>What Are Users &amp; Roles?</h4>
    <p>Each account on the Bennyapp platform can have one or more than one user.  Users are defined as to who will use and see information and features within the system.</p>

 </div><!--end of div container-->
</div><!--end of div contan-eria-->
{% endblock %}