{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

<div class="contan-eria">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <h3>Forgot Password</h3>
                    <span style="color: green">{% for message in messages %}{{ message }}{% endfor %}
                    </span>
                    <form method="post">
                        {% csrf_token %}
                            <p class="margin-top15">
                                <input type="email" required placeholder="Enter your Email"
                                       class="form-control" name="email">
                            </p>
                        <input type="submit" class="btn btn-primary margin-top15" value="Submit" />
                    </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}