
{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="col-lg-6 col-md-6 col-sm-6"><h1>Ultrices Iaculi</h1></div>
            <div class="col-lg-6 col-md-6 col-sm-6"><h5>
            {{ url_to_direct }}A feature rich versatile scheduling/customer contact system realtime GPS navigation and Mobile app sync with your computer
            </h5></div>
      </div>
    </div>
  </div>
</div>
<div class="contan-eria">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h2 class="hadding">Featured Products</h2>
        <div class="products"> <img width="269" height="184" style="width: 100%;" alt="" src="{{ STATIC_URL }}images/img-1.jpg">
          <h3>GPS Tracker</h3>
          <span><a href="#">learn more</a></span> </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="hadding">Who we Serve</h2>
        <div class="products" style="background: transparent none repeat scroll 0% 0%;">
          <p>Book the amount of tickets for the people in your party. The more the merrier! Book the amount of tickets for the people in your party. The more the merrier! Book the amount of tickets for the people in your party. The more the merrier! lorem ipsum dolor site demo content. </p>
          <ul>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Real Estate agents and brokers</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Individuals with planned or multi-stop appointments</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> One person business wearing multiple hats</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Errand runner or personal assistant</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Groups or teams headed to the same place</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1 col-sm-1 col-md-1"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2 class="hadding">What we Deliver</h2>
        <div class="products" style="background: transparent none repeat scroll 0% 0%;">
          <ul style="margin-top: 0px;">
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> PC and mobile app interface </a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Personal Calendar to organize stop, GPS turn voice navigation</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Driving directions for off line viewing </a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Calculated travel time and distance </a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Make notes at a particular location and read them later</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Real time location services seen on PC</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i> System saves distination address for future use </a></li>

          </ul>
          <strong><a href="#">learn more</a></strong> </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

