
{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

<!-- <div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 style="font-size: 21px; font-weight: 600;">MULTI-STOP TRIP PLANNING OR ROUTE DISPATCH</h3>
          <h5 class="title-text" style="font-weight: 600; color: #000000; line-height:20px; padding-top: 6px;">optimize or prioritize your routes or route stops – click, drag, and you are done</h5>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 style="font-size: 21px; font-weight: 600;">TURN-KEY MOBILE APP FOR YOUR BUSINESS</h3>
          <h5 class="title-text" style="color: #000000; font-weight: 600; line-height:20px; padding-top: 6px;">• customer contact info  • sales orders • scheduling calendar • GPS navigation  • collect, store, retrieve data</h5>
      </div>
      </div>
    </div>
  </div>
</div> -->

<div class="contan-eria static learn-more">
  <div class="container">
    <h2>Communication</h2>
    <p><span>Manage Contacts &amp; Groups</span> like any other phone book application</p>
    <p><span>Create Contact Groups</span> to better organize who you are communicating with</p>
    <p><span>Managers</span> and employees are added and maintained with ease</p>
    <p><span>Maintain Customer Lists</span> and account details, along with sales, service, and support history</p>
    <p><span>Tasks</span> are created for individuals or groups to complete and submit for review</p>
    <p><span>Communicate</span> globally to different internal and external group audiences</p>

    <h2>Contact Forms</h2>
    <p><span>Standard Forms</span> utilized throughout system as the primary method for data flow</p>
    <p><span>Custom Forms</span> allows greater system flexibility for data collection and display</p>
    <p><span>Design Forms</span> with special customized layout to print, mail, or email to customer</p>
    <p><span>Work-orders, Pick-Ups, &amp; Product Restocking</span> request with return receipt required</p>
    <p><span>Create Customer Billing</span> and account statements for customer database</p>
    <p><span>Inbound Calls</span> taken and input directly into system and routed accordingly</p>

    <h2>Dispatch &amp; Route Planning</h2>
    <p><span>Prioritize &amp; Dispatch</span> multiple routes with multiple stops to one or more field representatives</p>
    <p><span>Resequencing</span> stops on the fly is easy, or receive rerouting notification from the home office</p>
    <p><span>Map layers</span> includes food, gas, and hotel locations while traveling to your destination</p>
    <p><span>Voice Navigation</span> with turn by turn and readable text directions</p>
    <p><span>Coordinate</span> a group meeting place or communicate group itinerary with one or more destinations</p>
    <p><span>Users Receive Changes</span> and updates on their mobile app in real time</p>

    <h2>Multi-function Calendar</h2>
    <p><span>Dynamic Calendar</span> actively communicates with database to display everything from alerts to schedules on each users’ calendar</p>

    <h2>Customer Account Details</h2>
    <p><span>Create customers</span> and track sales and other activity by individual account</p>
    <p><span>Field Reps</span> access customer accounts and transactions history while in the field</p>

    <h2>Users &amp; Responsibilities</h2>
    <p><span>Create Users</span> by geographic location, department, or job function</p>
    <p><span>Managers &amp; Administrators</span> exchange targeted information with managed employee groups on individual</p>
    <p><span>Customers in</span> different locations can be targeted with region specific information</p>
    <p><span>System security</span> in place to allow proper access information and data within system</p>

    <h2>Mobile App</h2>
    <p><span>Change Mobile app</span> or web interface background, buttons, and text colors any time you want with instant results</p>
    <p><span>Dynamic Agenda</span> View consolidates notifications, tasks, and appointments all in one central place</p>
    <p><span>Make Customizations</span> to your mobile app in low cost incremental stages</p>
    <p><span>Active Indicators</span> employed to provide proof of information exchange and data receipt by users</p>

    <h2>The Global Network</h2>
    <p><span>FREE Bennyapp Enollment</span> in the Global Directory so your app is visible to all Bennyapp users</p>
    <p><span>Your Network</span> is expanded and connected to a Real Time, Active Database</p>
    <p><span>Expand</span> your reach to a broad based supported by an active real time database</p>

 </div><!--end of div container-->
  <!-- <div class="img-container_small"> -->
    <div class="container-fluid">
      <div class="text-center">
        <a href="/signup" class="btn btn-primary animated bounceIn">Start free Trial</a>
      </div>
    </div>
  <!-- </div> -->
</div><!--end of div contan-eria-->

{% endblock %}