{% if not user.is_authenticated and not user.is_active and user.user_profiles.admin_status != "enable"%}
<div class="container-fluid" id="login-block">
  <div class="input-box">
    <form class="form-horizontal form-without-legend" role="form" method="post" action="/login/">{% csrf_token %}
      <div class="rowA">
        <span class="field">
          <input type="email" class="input email-class" placeholder="Email" name="email">
        </span>
        <span class="field">
          <input type="password" class="input" placeholder="Password" name="password">
        </span>
        <input type="submit" class="btn btn-primary login-button" value="SUBMIT" />
      </div>
      <div class="rowB">
        <!-- <a href="/signup" class="btn btn-primary buttun2 buttun">Create Account</a> -->
      </div>
      <div class="rowC">
        <!-- <a href="/signup">Create Account</a> | -->
        <a href="/forgot-password">Forget username / password?</a>
      </div>
    <!--<a href="calendar.html" class="btn btn-primary buttun2 buttun">LOGIN</a>-->
    </form>
    {% if messages %}
      {% for message in messages %}
        <span style="color: red;margin-left: 238px">{{ message }}</span>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}