{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

<div class="contan-eria">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form method="post" action="{% url 'update-profile' %}">
      {% csrf_token %}
        <table class="table" border="0">
          <thead>
            <tr>
              <th height="70" colspan="2"><h2><b>Registration Detail</b></h2>

              {% for message in messages %}
                  <span style="color: green">{{ message }}</span>
              {% endfor %}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Name</b></td>
              <td> {{ form.first_name }}{{ form.first_name.errors }}</td>
            </tr>
            <tr>
              <td><b>Address</b></td>
              <td>{{ form.address }}{{ form.address.errors }} </td>
            </tr>
            <tr>
              <td><b>City<b></b></b></td>
              <td>{{ form.city }}{{ form.city.errors }}</td>
            </tr>
            <tr>
              <td><b>State</b></td>
              <td>{{ form.state }}{{ form.state.errors }}</td>
            </tr>
            <tr>
              <td><b>Zip</b></td>
              <td>{{ form.zip_code }}{{ form.zip_code.errors }}</td>
            </tr>
            <tr>
              <td><b>Country</b></td>
              <td>{{ form.country }}{{ form.country.errors }}</td>
            </tr>
            <tr>
              <td><b>Phone</b></td>
              <td>{{ form.phone_number }}{{ form.phone_number.errors }}</td>
            </tr>
            <tr>
              <td><b>Email</b></td>
              <td>{{ form.email }}{{ form.email.errors }}</td>
            </tr>
            <tr>
              <td><b>Occupation</b></td>
              <td>{{ form.occupation }}{{ form.occupation.errors }}</td>
            </tr>
            <tr>
              <td><b>Where do you work</b></td>
              <td>{{ form.company_name }}{{ form.company_name.errors }}</td>
            </tr>
            <tr>
              <td colspan="2" style="height:10px;"></td>
            </tr>
            <tr>
              <td colspan="2" style="border:none;"><button type="submit" class="btn btn-primary">Update</button>     <a href="{% url 'calender_prime' %}" class="btn btn-primary margin-right5"> Cancel</a></td>
            </tr>
          </tbody>
        </table>
        </form>
      </div>
    </div>
  </div>
</div>

{% if subscription %}
<div class="subscription-details accounts container">
  <h2>Subscription Details</h2>
  <div class="details">
    <p>Plan: {{subscription.subscription_plan}}</p>
    <p>Amount: {{subscription.amount_paid}}</p>
    <p>Subscribed Date: {{subscription.subscribed_date}}</p>
    <p>Expiry: {{subscription.expiry_date}}</p>
  </div>
</div>
{% endif %}

{% endblock %}
