<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Global</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/fullcalendar.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
</script>
</head>
<body>
<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand visible-xs" href="#">MEMU</a> </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav margin-top15">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Download</a></li>
              <li><a href="#">Supports</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#" style="border:none;">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="cl"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-3 col-md-4 col-xs-12">
      <div class="logo"><a href="index.html"><img width="155" height="88" alt="" src="images/logo.jpg"></a></div>
    </div>
    <div class="col-lg-6 col-sm-9 col-md-8 col-xs-12">
      <div class="dropdown">
        <button class="btn my-account btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> <i class="glyphicon glyphicon-user"></i> My Account <span class="caret"></span> </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="my-account.html">
            <h4>John Smith</h4>
            <p>View Profile</p>
            </a>
            <hr style="margin:5px 0;" />
          </li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log Out</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account Settings</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Change Password</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sync with mobile app Options</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Payment Options</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Payment History</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Set default calendar view</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Set language</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Email notifications</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="contan-eria">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table" border="0">
          <thead>
            <tr>
              <th height="70" colspan="2"><h2><b>Registration Detail</b></h2>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Name</b></td>
              <td> Admiral Edward</td>
            </tr>
            <tr>
              <td><b>Address</b></td>
              <td>60/5, licester Renny </td>
            </tr>
            <tr>
              <td><b>City<b></b></b></td>
              <td>Kuwait</td>
            </tr>
            <tr>
              <td><b>State</b></td>
              <td>Ubeka</td>
            </tr>
            <tr>
              <td><b>Zip</b></td>
              <td>452169</td>
            </tr>
            <tr>
              <td><b>Country</b></td>
              <td>Dubai</td>
            </tr>
            <tr>
              <td><b>Phone</b></td>
              <td>789654231</td>
            </tr>
            <tr>
              <td><b>Email</b></td>
              <td>amid@gmail.com</td>
            </tr>
            <tr>
              <td><b>Occupation</b></td>
              <td>Buisness</td>
            </tr>
            <tr>
              <td><b>Where do you work</b></td>
              <td>At Office</td>
            </tr>
            <tr>
              <td colspan="2" style="height:10px;"></td>
            </tr>
            <tr>
              <td colspan="2" style="border:none;"><a href="#" class="btn btn-primary "> Edit</a> <a href="#" class="btn btn-danger margin-right5"> Save</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="fotter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-bd-6 col-sm-6 col-xs-12">
        <div class="fotter-nav">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact</a></li>
            <li><a style="border:none;" href="#">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-bd-6 col-sm-6 col-xs-12">All Rights Reserved 2015</div>
    </div>
  </div>
</div>
<script src="js/jquery.min.js"></script> 
<script class="cssdesk" src="js/jquery-ui.min.js" type="text/javascript"></script> 
<script class="cssdesk" src="js/fullcalendar.min.js" type="text/javascript"></script> 
<script>/* Javascript */
$(function () {
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: true
	});
});</script> 
<script src="js/bootstrap.js"></script>
</body>
</html>
