
{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

{% load location_title_tags %}    

<script>

{#$(function() {#}

function manual_view(){
    $("#manual_li").addClass('active');
    $("#optimized_li").removeClass('active');
    $("#manual_a").removeAttr('href');
    $("#optimized_a").attr('href', 'javascript:optimized_view()');
    $(".optimized_view_div").hide();
    $(".manual_view_div").show();
}

function optimized_view(){
    $("#manual_li").removeClass('active');
    $("#optimized_li").addClass('active');
    $("#optimized_a").removeAttr('href');
    $("#manual_a").attr('href', 'javascript:manual_view()');
    $(".manual_view_div").hide();
    $(".optimized_view_div").show();
}

</script>

<div class="contan-eria">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div role="tabpanel">
                    <ul role="tablist" class="nav nav-tabs text-center">
                        <li role="presentation" style="left: -200px;">
                            <img class="previous_date" src="{{ STATIC_URL }}images/less_then.png" style="height: 28px;">
                            {{ date_selected }}
                            <img class="next_date" src="{{ STATIC_URL }}images/greater_then.png" style="height: 28px;">
                        </li>
                        <li role="presentation" class="">
                            <a href="{% url 'calender_prime' %}" class="right-tab">
                                <i class="glyphicon glyphicon-calendar"></i> Calendar
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="{{ url_to_direct }}" class="right-tab"  aria-expanded="true">
                                <i class="glyphicon glyphicon-map-marker"></i> Route Map
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-content-2">
                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <div class="row">
                                <ul role="tablist" class="nav nav-tabs ">
                                    <li id="manual_li" role="presentation" class="active" style="margin-left: 15px;">
                                        <a id="manual_a" style="font-size: 18px;" class="right-tab">
                                            Manual View
                                        </a>
                                    </li>
                                    <li id="optimized_li" role="presentation" class="">
                                        <a href="javascript:optimized_view()" id="optimized_a" class="right-tab" style="font-size: 18px;
                                         padding-left: 26px !important; padding-right: 26px !important;"
                                        aria-expanded="true">Optimized View
                                        </a>
                                    </li>
                                </ul>
                                <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12">
                                    <div class="left-map left-map2">
                                        <h3> Route </h3>
                                            <a role="button" class="btn btn-primary btn-1" href="{% url 'add_route_prime' %}"
                                               style="margin: 10px 0px;">Add New Route
                                            </a>
                                        <div class="cl"></div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="manual_view_div">
                                                    {% for route in routes %}
                                                        <div class="title">
                                                            <a href="{% url 'edit-route' route.id %}">
                                                                <h5>{{ route.trip_title }} </h5>
                                                                <p>Location: {% for location in route.route_locations.all %}{% retrieve_title location.location_address %}, {% endfor %} </p>
                                                                <p><span>Date: {{ route.trip_datetime }} | Distance: {{ route.total_distance }} Kms. Time: {{ route.total_time }} </span></p>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="optimized_view_div" style="display: none;">
                                                    {% for route in routes %}
                                                        <div class="title">
                                                            <a href="{% url 'optimum-route' route.id %}">
                                                                <h5>{{ route.trip_title }} </h5>
                                                                <p>Location: {% for location in route.optimized_route_locations.all %}{% retrieve_title location.location_address %}, {% endfor %} </p>
                                                                <p><span>Date: {{ route.trip_datetime }} | Distance: {{ route.optimized_total_distance }} Kms. Time: {{ route.optimized_total_time }} </span></p>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-12 col-md-8 col-xs-12">
                                    <div class="map-box">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58732.923427602036!2d72.6133169!3d23.0675101!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1431942143565" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(function() {

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var todayDate = new Date("{{ date_selected.isoformat }}");
    console.log(todayDate);

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
             }
        }

        document.body.appendChild(form);
        form.submit();
    }

    $('.previous_date').click(function () {
        todayDate.setDate(todayDate.getDate()-1);
        post('/maps/routes', {"day":todayDate.getDate(),"month":todayDate.getMonth()+1,"year":todayDate.getFullYear(),
            'csrfmiddlewaretoken':getCookie('csrftoken')});

    });
    $('.next_date').click(function () {
        todayDate.setDate(todayDate.getDate()+1);
        post('/maps/routes', {"day":todayDate.getDate(),"month":todayDate.getMonth()+1,"year":todayDate.getFullYear(),
            'csrfmiddlewaretoken':getCookie('csrftoken')});
    });
});

</script>

{% endblock %}
