
{% extends 'base.html' %}

{% block content %}

{% include "logo_account.html" %}

{% load location_title_tags %}    
    
<div class="contan-eria">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div role="tabpanel">
                    <ul role="tablist" class="nav nav-tabs text-center">
                        <li role="presentation" class="">
                            <a href="{% url 'calender_prime' %}" class="right-tab">
                                <i class="glyphicon glyphicon-calendar"></i> Calendar
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="{% url 'add_route_prime' %}" class="right-tab"  aria-expanded="true">
                                <i class="glyphicon glyphicon-map-marker"></i> Route Map
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-content-2">
                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12">
                                    <div class="left-map left-map2">
                                        <h3> Route </h3>
                                            <a role="button" class="btn btn-primary btn-1" href="{% url 'add_route_prime' %}"
                                               style="margin: 10px 0px;">Add New Route
                                            </a>
                                        <div class="cl"></div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="">
                                                    {% for route in routes %}
                                                        <div class="title">
                                                            <a href="{% url 'edit-route' route.id %}">
                                                                <h5>{{ route.trip_title }} </h5>
                                                                <p>Location: {% for location in route.route_locations.all %}{% retrieve_title location.location_address %}, {% endfor %} </p>
                                                                <p><span>Date: {{ route.trip_datetime }} | Distance: {{ route.total_distance }} Kms. Time: {{ route.total_time }} </span></p>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-12 col-md-8 col-xs-12">
                                    <div class="map-box">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58732.923427602036!2d72.6133169!3d23.0675101!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1431942143565" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
